{% extends 'comparing/base.html' %}
{% block main %}
<h2 align="center">«Кубок Бесконечности. Финал» 10 мая</h2>

<p><strong>Уважаемые капитаны!</strong> Пожалуйста, не только прочитайте сами, но и перешлите ссылку <a href="http://chgkstat.org/infinity">http://chgkstat.org/infinity</a> на эту инструкцию игрокам вашей команды. (Тем, чьи адреса вы указали при заявке, ссылку на эту страницу мы уже отправили.)</p>

<p>Играем в воскресенье 10 мая в 17:00 по Торонто и Нью-Йорку, 14:00 по Калифорнии, 24:00 в Москве. Время начала в других городах можно посмотреть <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=Кубок+Бесконечности+из+Нью+Йорка&iso=20200510T17&p1=179&ah=2&am=40">здесь</a>. Игра займёт примерно 2 часа 30 минут (будут два перерыва между турами). Имена редакторов и другие подробности о турнире <a href="https://ru-chgk.livejournal.com/3296483.html">тут</a>.</p>

<p>В этот раз команды НЕ смогут общаться между собой в комнате в Зуме. Вам понадобится какой-то другой канал общения (например, групповой звонок в Скайпе, Facebook, Google Hangouts, Discord, WhatsApp). Рекомендуем заранее проверить, что канал работает у всех членов команды.</p>

<h4>Играют команды</h4>

<p>При клике на команду откроется форма, в которую капитанам команд нужно вводить ответы на все вопросы. Номер вопроса вводить не надо. Не-капитанам лучше не открывать эти формы, чтобы случайно не отправить лишнего.</p>

<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td>
		<ol>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Ad+Hoc'>Ad Hoc</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=American+Whale'>American Whale</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Baby+Yoda'>Baby Yoda</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=MW'>MW</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Rolling+Owls'>Rolling Owls</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Абзац'>Абзац</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Братья+КарамазЛовы'>Братья КарамазЛовы</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Веретено'>Веретено</a></li><br/>
		</ol>	
	</td>
	<td>
		<ol start="9">
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Вестимо'>Вестимо</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Вкруже'>Вкруже</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Вперёд'>Вперёд</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Зомби'>Зомби</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=ИМЯРЕК'>ИМЯРЕК</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Инк'>Инк</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=КоКоШа'>КоКоШа</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Орех'>Орех</a></li><br/>
		</ol>	
	</td>
	<td>
		<ol start="17">
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Праздная+Ящерица'>Праздная Ящерица</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Псевдоним'>Псевдоним</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Секрет'>Секрет</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Суббота,+13'>Суббота, 13</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Сумчатые+крабы'>Сумчатые крабы</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=ЧЗ'>ЧЗ</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Шах+и+мат'>Шах и мат</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfIkbNAf7KaCFhga9NBV2BJnFOSDLqt6n8ise7UIqNGwor3KA/viewform?usp=pp_url&entry.868925312=Шесть+пик'>Шесть пик</a></li><br/>
		</ol>	
	</td>
</tr>
</table>

<h4>До игры</h4>

<p>Каждый игрок за 5-15 минут до начала заходит в <a href="https://zoom.us/j/98474317205?pwd=OWF6bnVScWh0RWFLL0p6a1JzakJJQT09" target="_blank">Zoom-конференцию</a> и попадает в зал ожидания. Ведущий будет добавлять всех в конференцию почти сразу.</p>
<p>В 17:01 по Торонто мы проведём проверку: капитану каждой команды нужно будет отправить любой ответ на команду ведущего «ноль». Это позволит проверить, у всех ли команд ответы приходят достаточно быстро.</p>

<h4>Отыгрыш каждого из 36 вопросов устроен так:</h4>

<ol>
	<li>Ведущий отключает микрофоны всех игроков, читает вопрос и говорит «Время».</li>
	<li>Через 50 секунд ведущий говорит «десять секунд».</li>
	<li>Ещё через 10 секунд ведущий говорит «сдавайте ответы».</li>
	<li>Через 5 секунд ведущий начинает считать «пять, четыре, три, два, один, ноль». До слова «ноль» необходимо отправить форму с ответом. Если у вашей команды нет ответа, можете отправить пустое поле или ничего не отправлять. Мы принимаем все ответы, которые поступят в течение трёх секунд после слова «ноль».
		<br/>Таким образом, всего у команд будет 70 секунд между окончанием чтения вопроса и прекращением приёма ответов.
	</li>
	<li>Ведущий оглашает ответ и комментарий; и переходим к следующему вопросу.</li>
</ol>

<h4>Спорные вопросы</h4>

<p>Пожалуйста, не просите вслух ведущего или игровое жюри о зачёте каких-либо спорных. Вместо этого просто заполните форму ниже в течение 15 минут после игры, а лучше — в ближайшем перерыве. Тогда в том же перерыве мы занесём спорные в общую таблицу.</p>

<br/><br/>
<div style="text-align: center;">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScnD4zNn28hSNJxGINukEh7AKAT3ePe30cGlSdk5x-Va0CUqA/viewform?embedded=true" width="640" height="605" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<h4>Результаты игры</h4>

<p>Если всё будет идти гладко, будут доступны между турами по <a href="https://docs.google.com/spreadsheets/d/1sLGkIT0SVXBNRWmPK72c4as8Oi_jRCOwyGyT8m1F5nY">ссылке</a>. Там же на втором листе будет список всех поступивших спорных.</p>

<p>Так что ни в коем случае не публикуйте ссылку на этот гугл-док в открытых источниках, чтобы те, кто будут играть турнир позже, не увидели список спорных.</p>

<h4>Можно ли сдавать ответы латиницей?</h4>

<p>Да, можно, хоть и нежелательно, поскольку усложняет работу
проверяющему ответы. Лучше к этой или следующим играм найдите способ
быстро набирать ответ на русском языке.</p>

<h4>Что делать, если гугл-форма перестала работать?</h4>

<p>Напишите ответ ведущему в чат в Zoom. Правда, вероятность, что гугл-форма работать не будет, а чат будет, представляется нам исчезающе малой.</p>

<h4>Можно ли пользоваться интернетом во время минуты обсуждения?</h4>

<p>Нет. Только для обсуждения с командой и заполнения формы с ответом на вопрос. Также в любой момент обсуждающих вопрос в каждой команде должно быть не больше шести.</p>

<h4>Что делать, если я опоздаю?</h4>

<p>Без проблем, присоединяйтесь в любой момент!</p>

<h4>Что делать, если мы играем не тем составом, который заявили заранее?</h4>

<p>Сколько угодно! Мы напишем, как прислать исправленный состав, сразу после игры.</p>

<h4>Остались вопросы?</h4>

<p>Задавайте их  Алексею Чернову на <a href="mailto:alexey.chernov@gmail.com">alexey.chernov@gmail.com</a>.</p>

<p>Постарайтесь все вопросы по правилам и организации игры задать до
начала игры. Если у вас возникнут срочные вопросы, пишите в чат
ведущему. Тот ответит на все вопросы в перерыве или когда сможет.</p>

<p>Хорошей игры!</p>
{% endblock %}