{% extends 'comparing/base.html' %}
{% block main %}
<h2 align="center">{{ page_title }}</h2>

<p>Ближайшая игра – в воскресенье 5 апреля в 21:00 по Москве (11:00 в Калифорнии, 14:00 в Нью-Йорке, 20:00 в Барселоне). Время игры в других городах смотрите <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=Банальности+5 апреля&iso=20200405T14&p1=179">здесь</a>.</p>

<p>Игра займёт около 70 минут. Удобнее всего играть с компьютера; с телефона или планшета можно, но будет сложнее. Давно мы не играли, так что может что-то не заработать, но будем надеяться.</p>

<p>Заходите в <a href="https://t.me/joinchat/EK3TvBpUI_NC1jvArNol-w">чат в Телеграме</a>. Темы будут появляться там, но писать слова будем прямо на этой странице внизу (или <a href="https://docs.google.com/forms/d/e/1FAIpQLSe10iiryPP_zVt-V1G5KgFabJFfS_Iu6KgbEtLRRJ0B5T1bMA/viewform">в этой форме</a> — как вам удобней), а результаты кона появятся в <a href="https://docs.google.com/spreadsheets/d/1_tTcSfSBF51aODSsC6060e7-2mART3HR795bfAXCjYc">гугл-доке</a> (сейчас его открывать незачем, после заполнения формы вы увидите ссылку на него). В форме пишете свои имя и фамилию и город (мне будет приятно, если вы напишете настоящее имя или что-то похожее на него) и 10 слов, разделённые пробелами. Можно написать слова в текстовом редакторе или Экселе (даже в столбик) и скопировать их в поле формы.</p>

<p>Один кон играется 3 минуты, если не оговорено иное. Задаётся тема (совершенно любая: «Вечерний город», «Эпидемиология» и т. д.) Каждый пишет 10 относящихся к теме слов: существительных, в именительном падеже. Имена собственные можно. Слова через дефис (тяни-толкай, Баден-Баден) можно. Слова с апострофом (Кортина-д'Ампеццо, д'Артаньян) можно. Множественное число можно (ежик и ежики – разные слова). Уменьшительно-ласкательные можно (лампа и лампочка – разные слова). Аббревиатуры можно. Регистр не важен, буквы «е» и «ё» считаются одной и той же. Латинский алфавит и цифры нельзя. Пробелов в словах быть, конечно, не может.</p>

<p>Всего мы сыграем, скорее всего, семь конов. Тему каждого кона, кроме первого, придумывает победитель предыдущего кона. Побеждает тот, кто наберёт больше всех очков по сумме всех конов.</p>

<p>Слова, однокоренные со словами в названии темы, не пишем. Если там известная аббревиатура — однокоренных ни с одним из слов в аббревиатуре не пишем. <strong>И наоборот: в теме «железная дорога» писать РЖД нельзя.</strong> За такие слова вы получите 0 очков.</p>

<p>Как только в чате напишут «всё» (или раньше), отправляйте форму, и скриптик считает результат: каждое слово даёт столько очков, сколько человек это слово написали, <strong>минус один</strong>. Очки человека — сумма очков тех 10 слов, которые он написал.</p>

<p>Таким образом, нужно быть наиболее банальным. Если вы напишете слово, которое написали все или почти все, получите много очков. А если напишете слово, которое больше никто не написал, получите ноль очков.</p>

<p>Во время каждого кона, пока вы не отправили слова, <strong>нельзя пользоваться интернетом и справочной литературой.</strong></p>

<p>Больше никаких ограничений. Удачи!</p>

<p>Хотите поиграть с друзьями сами и автоматизировать подсчёт очков? Напишите мне, дам копию гугл-дока, заодно со скриптом, написанным Ромой Чермоновым и улучшенным Мариной Завалиной. Как им пользоваться – должно быть интуитивно понятно, но если что, спрашивайте.</p>

<br/><br/>
<div style="text-align: center;">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe10iiryPP_zVt-V1G5KgFabJFfS_Iu6KgbEtLRRJ0B5T1bMA/viewform?embedded=true" width="640" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<h3>Прошедшие игры</h3>
<table class="display simple-data-table" cellspacing="0" width="75%">
	<thead>
		<tr class="text-center debated">
			<th>№</th>
			<th>Дата</th>
			<th>Гугл-док</th>
			<th>Победитель</th>
		</tr>
	</thead>
	<tbody>
		<tr class="text-center">
			<td>6</td>
			<td>12 апреля 2020</td>
			<td><a href="https://docs.google.com/spreadsheets/d/1et_6RyO0NtOkbWSdRBG_r1UjESdg70t6x_9VFI6zbOI/edit#gid=1912390583">тут</a></td>
			<td>Март Мараска (Москва)</td>
		</tr>
		<tr class="text-center">
			<td>5</td>
			<td>5 апреля 2020</td>
			<td><a href="https://docs.google.com/spreadsheets/d/1_tTcSfSBF51aODSsC6060e7-2mART3HR795bfAXCjYc">тут</a></td>
			<td>Сергей Лобачёв (Хилсборо)</td>
		</tr>
		<tr class="text-center">
			<td>4</td>
			<td>29 марта 2020</td>
			<td><a href="https://docs.google.com/spreadsheets/d/1WLW3tDEGAxWrhYncRnxrqb_UV7vEf45qULsUXiu76NQ">тут</a></td>
			<td>Андрей Зеленеев (Принстон)</td>
		</tr>
		<tr class="text-center">
			<td>3</td>
			<td>22 марта 2020</td>
			<td><a href="https://docs.google.com/spreadsheets/d/1h1IvFclCZJXHpvcpXlhrgdPnBVM8CSrxdNm5gLvYZyk/edit#gid=0">тут</a></td>
			<td>Маша Чамаева (Москва)</td>
		</tr>
		<tr class="text-center">
			<td>2</td>
			<td>19 марта 2020</td>
			<td><a href="https://docs.google.com/spreadsheets/d/1i6aPGOWSIDun23DTC9JJTn6eEyvpKerqiSSChkiamb4/edit#gid=688479793">тут</a></td>
			<td>Аня Малышева (Москва)</td>
		</tr>
		<tr class="text-center">
			<td>1</td>
			<td>15 марта 2020</td>
			<td><a href="https://docs.google.com/spreadsheets/d/1dJF5AtE18SPiczXvT3ivNesNmZL59MdGz7y7dO-edrk/edit#gid=688479793">тут</a></td>
			<td>Аня Малышева (Москва)</td>
		</tr>
	</tbody>
</table>
{% endblock %}