{% load static %}
{% spaceless %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112015372-1"></script>
		<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-112015372-1');
		</script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
		<script src="https://cdn.datatables.net/v/dt/dt-1.10.16/fc-3.2.4/datatables.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
		<script src="{% static 'js/chgkstat.js' %}?6"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/fc-3.2.4/datatables.min.css"/>
		<link rel="stylesheet" href="{% static 'css/chgkstat.css' %}?5">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
		<title>{% if page_title %}{{ page_title|safe }} – {% endif %}Статистика «Что? Где? Когда?»</title>
	</head>
	<body>
		<div class="content"><div class="content-inside">
			<span style="float: left; margin-top: 19px; margin-left: 20px;">Главная страница: <a href="http://chgkstat.org">http://chgkstat.org</a></span>
			{% if 0 %}<span style="float: right; margin-top: 19px; margin-right: 20px; color: rgba(0,0,0,0);">Главная страница: http://chgkstat.org</span>{% endif %}
			<span style="float: right; margin-top: 19px; margin-right: 20px;"><a href="{% url 'photos_contest' %}">Конкурс фотографий призёров турниров — 2020</a></span>
			<form method="GET" action="{% url 'all_teams_on_tournament' %}">
				<p class="text-center">
					<select class="tournaments-list" name="tournament_id" style="width: 33%"></select>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="submit" name="team_list_submit" value="Сравнить несколько команд на турнире" class="btn-submit"/>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="submit" name="questions_table_submit" value="Полная таблица взятий" class="btn-submit"/>
				</p>
			</form>
			<hr/>
			<form method="GET" action="{% url 'process_teams_form' %}">
				<p class="text-center">
					<input type="submit" name="team_details" value="Подробно о левой команде" class="btn-submit"/>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<select class="teams-list" name="team1_id" id="team1_id" style="width: 300px;">
						{% if teams.0 %}
							<option value="{{ teams.0.id }}" selected>{{ teams.0 }}</option>
						{% endif %}
					</select>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<select class="teams-list" name="team2_id" id="team2_id" style="width: 300px;">
						{% if teams.1 %}
							<option value="{{ teams.1.id }}" selected>{{ teams.1 }}</option>
						{% endif %}
					</select>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="submit" name="compare_teams" value="Сравнить все результаты двух команд" class="btn-submit"/>
				</p>
			</form>
			<hr/>
			<br/>
			{% for message in messages %}
				<span class="label-warning">{{ message|safe }}</span>
			{% endfor %}
			{% block main %}{% endblock %}
			<br/>
		</div></div>
		<footer class="footer">
			<span style="float: left;">Не ЧГК единым! <a href="http://base.probeg.org/races">Где побегать в ближайший месяц в России, Украине, Беларуси</a></span>
			<span style="float: right;">По любым вопросам можно писать на адрес <a href="mailto:alexey.chernov@gmail.com">alexey.chernov@gmail.com</a></span>
		</footer>
	</body>
</html>
{% endspaceless %}