{% extends 'comparing/base.html' %}
{% block main %}

<h3>{{ page_title|safe }}</h3>

<a href="{{ obj_link }}">Вернуться к объекту</a>

<table border="1">
	<tr>
		<th>Время</th><th>Действие</th><th>Комментарий</th><th>Новые значения</th>
	</tr>
	{% for table_update in changes %}
		<tr>
			<td>{{ table_update.added_time|date:'d E Y H:i' }}</td>
			<td>{{ table_update.get_action_type_display }}</td>
			<td>{{ table_update.comment }}</td>
			<td>{% for field_change in table_update.field_update_set.all %}
					{{ field_change.field_name }}: '{{ field_change.old_value }}' -> '{{ field_change.new_value }}'
					<br/>
				{% endfor %}
			</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}