{% extends 'comparing/base.html' %}
{% load static %}
{% load comparing_extras %}
{% block main %}
<h2 class="text-center">
	Сравнение результатов команд <a href="{{ teams.0.get_rating_url }}" target="_blank">{{ teams.0.name }}</a>
	{% if teams.0.city %}({{ teams.0.city.name }}){% endif %}
	и <a href="{{ teams.1.get_rating_url }}" target="_blank">{{ teams.1.name }}</a>
	{% if teams.1.city %}({{ teams.1.city.name }}){% endif %}
</h2>
{% if has_tournaments %}
	<p>Изменение: с января 2024 года здесь показываются вообще все турниры, а не только учтённые в рейтинге МАИИ или МАК.
		<span class="font-bold">Жирным</span> выделены турниры, состав команды на которых был преемственным к базовому.
		<span class="taken">Жёлтым цветом</span> — турниры, на которых команда опередила сравниваемую.
		<span class="saved">Зелёным</span> — ничьи.
	</p>
	<p>В сезоне с августа 2019 года также отображаются и нерейтинговые игры, чтобы показать онлайн-турниры. Что из турниров онлайновое, обычно понятно по названию турнира.</p>
	{% for name, data in segments.items %}
		{% if data.tournaments %}
			<h3 class="text-center">{{ name|safe }}</h3>
			<br/>
			<table class="table_tournaments display">
				<thead>
					<tr class="text-center">
						<th colspan="5"></th>
						{% for team in teams %}
							<th colspan="4">{{ team.name }}</th>
							{% if forloop.first %}
								<th class="min-width large-score"></th>
							{% endif %}
						{% endfor %}
						<th></th>
					</tr>
					<tr class="text-center debated">
						<th>№</th>
						<th class="text-right">Даты</th>
						<th>Название</th>
						<th>Вопросов</th>
						<th>Тип</th>
						{% for team in teams %}
							<th class="min-width">Рейтинг</th>
							<th class="min-width">Бонус</th>
							<th class="min-width">Прибавка<br/>в&nbsp;рейтинг</th>
							{% if forloop.first %}
								<th class="min-width large-score"></th>
								<th class="min-width large-score"></th>
								<th class="min-width large-score"></th>
							{% endif %}
						{% endfor %}
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for teams, winner_number in data.tournaments %}{% with tournament=teams.0.tournament %}
						<tr class="text-center">
							<td>{{ forloop.counter }}</td>
							<td class="text-right">{{ tournament.get_dates|safe }}</td>
							<td class="text-left"><a target="_blank" href="{{ tournament.get_rating_url }}">{{ tournament.name }}</a></td>
							<td>{{ tournament.questions_total }}</td>
							<td>{{ tournament.type_name }}</td>
							{% for t_t in teams %}
								<td class="min-width{% if t_t.is_included_in_rating and tournament.is_in_rating %} font-bold{% endif %}{% if forloop.counter0 == winner_number %} taken{% elif winner_number == -1 %} saved{% endif %}">{{ t_t.tech_rating_rg|default_if_none:'' }}</td>
								<td class="min-width{% if t_t.is_included_in_rating and tournament.is_in_rating %} font-bold{% endif %}{% if forloop.counter0 == winner_number %} taken{% elif winner_number == -1 %} saved{% endif %}">{{ t_t.bonus_b|default_if_none:'' }}</td>
								<td class="min-width{% if t_t.is_included_in_rating and tournament.is_in_rating %} font-bold{% endif %}{% if forloop.counter0 == winner_number %} taken{% elif winner_number == -1 %} saved{% endif %}">{{ t_t.print_diff_bonus_with_brackets|default:''|safe }}</td>
								{% if forloop.first %}
									<td class="min-width large-score{% if t_t.is_included_in_rating and tournament.is_in_rating %} font-bold{% endif %}{% if forloop.counter0 == winner_number %} taken{% elif winner_number == -1 %} saved{% endif %}">{{ t_t.n_questions_taken }}</td>
									<td class="min-width large-score{% if winner_number == -1 %} saved{% endif %}">:</td>
									<td class="min-width large-score{% if teams.1.is_included_in_rating and tournament.is_in_rating %} font-bold{% endif %}{% if 1 == winner_number %} taken{% elif winner_number == -1 %} saved{% endif %}">{{ teams.1.n_questions_taken }}</td>
								{% endif %}
							{% endfor %}
							<td><a href="{{ tournament.get_compare_teams_url }}{{ teams.0.team_id }},{{ teams.1.team_id }}">Сравнить повопросные результаты</a></td>
						</tr>
					{% endwith %}{% endfor %}
				</tbody>
			</table>
			<p>Итого на {{ data.n_tournaments }} турнир{{ data.n_tournaments|ending:15 }} счёт по турнирам:
				<b>{{ data.n_tournaments_won.0 }} : {{ data.n_tournaments_won.1 }}</b>
				{% if data.n_draws %}(и {{ data.n_draws }} ничь{{ data.n_draws|ending:17 }}){% endif %},
				счёт по взятым вопросам: <b>{{ data.n_questions_taken.0 }} : {{ data.n_questions_taken.1 }}</b>.
			</p>
			{% if data.n_tournaments_rating %}
				<p>Итого на {{ data.n_tournaments_rating }} турнир{{ data.n_tournaments_rating|ending:15 }},
					которы{{ data.n_tournaments_rating|ending:6 }} ид{{ data.n_tournaments_rating|ending:18 }}т в зачёт обеим командам:
					<b>{{ data.n_tournaments_won_rating.0 }} : {{ data.n_tournaments_won_rating.1 }}</b>
					{% if data.n_draws_rating %}(и {{ data.n_draws_rating }} ничь{{ data.n_draws_rating|ending:17 }}){% endif %},
					счёт по взятым вопросам: <b>{{ data.n_questions_taken_rating.0 }} : {{ data.n_questions_taken_rating.1 }}</b>.
				</p>
			{% endif %}
		{% endif %}
	{% endfor %}
<script type="text/javascript">
	$('.table_tournaments').DataTable({
		"paging":	false,
		"info":	  false,
		"searching": false,
		"ordering":	false,
	});
</script>
	<br/><br/>
{% else %}
	<p>Похоже, эти команды не сыграли ни одного общего рейтинговавшегося турнира.</p>
{% endif %}
{% endblock %}