{% extends 'comparing/base.html' %}
{% load static %}
{% block main %}
<h2 align="center">
	Корреляции результатов команд на турнире «{{ tournament.name }}» ({{ tournament.get_dates|safe }})
</h2>
<p align="center">
	У нас:
	<a href="{{ tournament.get_absolute_url }}">сравнить другие команды</a>,
	<a href="{{ tournament.get_questions_table_url }}">полная повопросная таблица</a>
</p>
<p align="center">
	На сайте рейтинга:
	<a target="_blank" href="{{ tournament.get_rating_url }}">страница турнира</a>,
	<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}/tours/">повопросная таблица</a>,
	<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}/controversials/">спорные ответы</a>
</p>
<br/>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawCorrRatingGraph() {
	var data = google.visualization.arrayToDataTable([
		{{ corr_and_rating|safe }}
	]);

	var options = {
		title: '',
		hAxis: {title: 'Корреляция', minValue: -1, maxValue: 1},
		vAxis: {title: 'Плюс от турнира'},
		legend: 'none'
	};

	var chart = new google.visualization.ScatterChart(document.getElementById('chart_div1'));

	chart.draw(data, options);
}

function drawCorrScoreGraph() {
	var data = google.visualization.arrayToDataTable([
		{{ corr_and_score|safe }}
	]);

	var options = {
		title: '',
		hAxis: {title: 'Корреляция', minValue: -1, maxValue: 1},
		vAxis: {title: 'Число взятых вопросов'},
		legend: 'none'
	};

	var chart = new google.visualization.ScatterChart(document.getElementById('chart_div2'));

	chart.draw(data, options);
}
function drawChart() {
	drawCorrRatingGraph();
	drawCorrScoreGraph();
}
</script>
<div id="chart_div1" style="width: 1000px; height: 500px; margin: auto;"></div>
<br/>
<div id="chart_div2" style="width: 1000px; height: 500px; margin: auto;"></div>
{% endblock %}