{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/fc-3.2.4/datatables.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/fc-3.2.4/datatables.min.css"/>
	</head>
	<body>
		<button onclick="alertFields();">Alert current conditions</button>
		<table id="teams_by_tournament" class="display">
			<thead>
				<tr>
					<th>Checkbox</th>
					<th>Number</th>
					<th>Word</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="td1" data-order="1"><input type="checkbox" name="chkbox1" id="chkbox1" class="chkbox"></td>
					<td>1</td>
					<td>Zzz</td>
				</tr>
				<tr>
					<td id="td2" data-order="1"><input type="checkbox" name="chkbox2" id="chkbox2" class="chkbox"></td>
					<td>2</td>
					<td>Sss</td>
				</tr>
				<tr>
					<td id="td3" data-order="1"><input type="checkbox" name="chkbox3" id="chkbox3" class="chkbox"></td>
					<td>3</td>
					<td>Uuu</td>
				</tr>
			</tbody>
		</table>
		<script type="text/javascript">
var teams_table = $('#teams_by_tournament').DataTable({
	"paging":	false,
	"info":	  false,
	"searching":	  false,
	"order":	 [[ 1, "asc" ]],
});
var $chkboxes = $('.chkbox');
$chkboxes.click(function(e) {
	cur_chkbox = $(this);
	cur_cell = $(this).parent();
	// cur_cell.data('order', cur_chkbox.prop('checked') ? 0 : 1);
	cur_cell.attr('data-order', cur_chkbox.prop('checked') ? 0 : 1);
	cur_cell.css("background-color", cur_chkbox.prop('checked') ? "blue" : "yellow");
	teams_table.cell(cur_cell).invalidate().draw();
	teams_table.row(cur_cell).invalidate().draw();
});
function alertFields() {
	s = "First: data-order="   + $('#td1').data('order') + ", checked=" + $('#chkbox1').prop('checked') + '\n';
	s += "Second: data-order=" + $('#td2').data('order') + ", checked=" + $('#chkbox2').prop('checked') + '\n';
	s += "Third: data-order="  + $('#td3').data('order') + ", checked=" + $('#chkbox3').prop('checked');
	alert(s);
}
		</script>
	</body>
</html>