{% extends 'comparing/base.html' %}
{% block main %}
<h2 align="center">Игра Веретена</h2>

<p><strong>Уважаемые капитаны!</strong> Пожалуйста, не только прочитайте сами, но и перешлите ссылку <a href="http://chgkstat.org/spindle">http://chgkstat.org/spindle</a> на эту инструкцию игрокам вашей команды. Обратите внимание, что имена в Zoom нужно вводить не в том формате, что неделю назад на Синхроне-лайт; и мы просим все команды использовать для связи между собой только Zoom.</p>

<p>Играем в воскресенье 26 апреля в 19:00 по Торонто и Нью-Йорку, 16:00 по Калифорнии. Время начала в других городах можно посмотреть <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=Игра+Веретена+26+апреля&iso=20200426T19&p1=179&ah=2&am=40">здесь</a>. Игра займёт примерно 2 часа 40 минут (будут два перерыва между турами). <!-- Имена редакторов и другие подробности о турнире <a href="https://rating.chgk.info/tournament/5733">тут</a>.--></p>

<h4>Играют команды</h4>

<p>При клике на команду откроется форма, в которую капитанам команд нужно вводить ответы на все вопросы. Номер вопроса вводить не надо. Не-капитанам лучше не открывать эти формы, чтобы случайно не отправить лишнего.</p>

<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td>
		<ol>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=7X'>7X</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Ad+Hoc'>Ad Hoc</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=American+Whale'>American Whale</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Boomerang'>Boomerang</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=G7'>G7</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Rowling+Owls'>Rowling Owls</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Абзац'>Абзац</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Братья+КарамазЛовы'>Братья КарамазЛовы</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Веселые+монахи'>Веселые монахи</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Вестимо'>Вестимо</a></li><br/>
		</ol>	
	</td>
	<td>
		<ol start="11">
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Вечно+живые'>Вечно живые</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Вкруже'>Вкруже</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Вперед'>Вперед</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Выше+плинтуса'>Выше плинтуса</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Зачет'>Зачет</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=ИМЯРЕК'>ИМЯРЕК</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Инк'>Инк</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=КоКоШа'>КоКоШа</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Ланкастеры'>Ланкастеры</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Однако'>Однако</a></li><br/>
		</ol>	
	</td>
	<td>
		<ol start="21">
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Орехъ'>Орехъ</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Плюшками+балуемся'>Плюшками балуемся</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Псевдоним'>Псевдоним</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Саша+и+Медведи'>Саша и Медведи</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Сборная+Денвера'>Сборная Денвера</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Секрет'>Секрет</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Совхоз+Победа'>Совхоз Победа</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Суббота+13'>Суббота 13</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Хатуль'>Хатуль</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=ЧЗ'>ЧЗ</a></li><br/>
<li><a href='https://docs.google.com/forms/d/e/1FAIpQLScjmR5rx-cpwD8THqGMXZQD47cYfkF8WAXuOQu-WKqJOWRwnA/viewform?usp=pp_url&entry.868925312=Шашки+в+Руках'>Шашки в Руках</a></li><br/>
		</ol>	
	</td>
</tr>
</table>

<h4>До игры</h4>

<p>Каждый игрок за 15-30 минут до начала заходит в <a href="https://zoom.us/j/95229984841?pwd=S05rc0ZzWmJSeWxvNFV3SWNwY3cwQT09" target="_blank">Zoom-конференцию</a> и попадает в зал ожидания. После того, как ведущий впустил в основной зал, жмёте внизу экрана на кнопку «Участники конференции» (Participants). Справа откроется панель со списком всех участников, находящихся в основном зале. Находите себя, наводите курсор на своё имя, щелкаете левой кнопкой на опцию «Дополнительно» (More), выбираете «Переименовать» (Rename) и указываете имя в формате «(название команды) Имя Фамилия», например, «(Ксеп) Илья Бер».</p>
<p>Ведущий распределяет игроков по комнатам, соответствующих командам.</p>
<p>В 19:01 по Торонто мы проведём проверку: капитану каждой команды нужно будет отправить любой ответ на команду ведущего «ноль». Это позволит проверить, у всех ли команд ответы приходят достаточно быстро.</p>

<h4>Отыгрыш каждого из 36 вопросов устроен так:</h4>

<ol>
	<li>Ведущий отключает микрофоны всех игроков, читает вопрос и говорит «Время».</li>
	<li>Ведущий жмёт кнопку для переброски всех участников чата из общей комнаты в отдельные. Это занимает около 7 секунд.</li>
	<li>По истечении этих 7 секунд ведущий засекает 60 секунд на обсуждение. Обратный отсчёт этих 60 секунд будет на экране у всех игроков.</li>
	<li>По истечении 60 секунд ведущий возвращает всех в общий чат; это займёт ещё около 7 секунд.</li>
	<li>Когда все возвратятся, ведущий считает «пять, четыре, три, два, один, ноль». До слова «ноль» необходимо отправить форму с ответом. Если у вашей команды нет ответа, можете отправить пустое поле или ничего не отправлять. Мы принимаем все ответы, которые поступят в течение трёх секунд после слова «ноль».
		<br/>Таким образом, всего у команд будет 79 секунд между окончанием чтения вопроса и прекращением приёма ответов, из них 60 секунд команды смогут обсуждать вопрос.
	</li>
	<li>Ведущий оглашает ответ и комментарий и, если позволяет время, даёт командам несколько секунд на обсудить вопрос в общем чате.</li>
	<li>И переходим к следующему вопросу.</li>
</ol>

<!--
<h4>Спорные вопросы</h4>

<p>Пожалуйста, не просите вслух ведущего или игровое жюри о зачёте каких-либо спорных. Вместо этого просто заполните форму ниже в течение 15 минут после игры, а лучше — в ближайшем перерыве. Тогда в том же перерыве мы занесём спорные в общую таблицу.</p>

<br/><br/>
<div style="text-align: center;">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScnD4zNn28hSNJxGINukEh7AKAT3ePe30cGlSdk5x-Va0CUqA/viewform?embedded=true" width="640" height="605" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
-->

<h4>Результаты игры</h4>

<p>Если всё будет идти гладко, будут доступны между турами по <a href="https://docs.google.com/spreadsheets/d/175P8iOHhjyJuFoooYnOFjQmku4cj3ot7zVrYFIxjqJo">ссылке</a>.<!-- Там же на втором листе будет список всех поступивших спорных.--></p>

<!-- <p>Так что ни в коем случае не публикуйте ссылку на этот гугл-док в открытых источниках, чтобы те, кто будут играть турнир позже, не увидели список спорных.</p> -->

<h4>Можно ли сдавать ответы латиницей?</h4>

<p>Да, можно, хоть и нежелательно, поскольку усложняет работу
проверяющему ответы. Лучше к этой или следующим играм найдите способ
быстро набирать ответ на русском языке.</p>

<h4>Что делать, если гугл-форма перестала работать?</h4>

<p>Напишите ответ ведущему в чат в Zoom. Правда, вероятность, что гугл-форма работать не будет, а чат будет, представляется нам исчезающе малой.</p>

<h4>Можно ли пользоваться интернетом во время минуты обсуждения?</h4>

<p>Нет. Только для обсуждения с командой и заполнения формы с ответом на вопрос.</p>

<h4>Что делать, если я опоздаю?</h4>

<p>Опоздавшие или вновь вошедшие после отключения Зума будут приглашены ведущим в общий зал из зала ожидания и добавлены в комнаты своих команд по мере возможности, но не позднее ближайшего перерыва между турами.</p>

<h4>Что делать, если мы играем не тем составом, который заявили заранее?</h4>

<!--<p>Мы напишем, как прислать исправленный состав, сразу после игры.</p> -->
<p>Сколько угодно! Только, пожалуйста, напишите об изменении состава организаторам до игры (хоть бы и в последний момент) и ознакомьте всех игроков с этой инструкцией, чтобы они правильно указали своё имя в Zoom.</p>

<h4>Остались вопросы?</h4>

<p>Задавайте их Григорию Львовичу на <a href="mailto:lvovich@rogers.com">lvovich@rogers.com</a><!-- или Алексею Чернову на <a href="mailto:alexey.chernov@gmail.com">alexey.chernov@gmail.com</a> -->.</p>

<p>Постарайтесь все вопросы по правилам и организации игры задать до
начала игры. Если у вас возникнут срочные вопросы, пишите в чат
ведущему. Тот ответит на все вопросы в перерыве или когда сможет.</p>

<p>Хорошей игры!</p>
{% endblock %}