{% extends 'comparing/base.html' %}
{% block main %}
<h2 align="center">Сравнение результатов команд спортивного «Что? Где? Когда?»</h2>
<p>Было ли вам когда-нибудь интересно посмотреть, какие из вопросов на последнем синхроне на вашей площадке взяли только вы?
<br/>
Сколько вопросов, что вы взяли на <a href="{% url 'all_teams_on_tournament' tournament_id=4194 %}">Моносе Вызга</a>, больше не взял никто в вашем городе?
<br/>
Были ли на последнем чемпионате России вопросы,
<a href="/tournament/4247/teams/7544,49804,670,37488,42483,45556,168,188,27177,55/">которые не взял никто из первой десятки</a>?
</p>
<p>Скорее всего, никогда. Но если вдруг да, то этот сайт — именно для вас!
<br/>
Выберите нужный турнир в меню сверху{% if tournaments %} или в списке ниже{% endif %}, поставьте галочки нужным командам или укажите интересующий город — и всё увидите.
</p>
<p>А ещё мы посчитали немного <a href="{% url 'stat_misc' %}">странной статистики.</a></p>
{% if tournaments %}
	<br/>
	<h3 align="center">Последние турниры, закончившиеся хотя бы 3 дня назад</h3>
	<p align="center">(правда, их результатов может пока не быть)</p>
	<table class="table_regular display" cellspacing="0" width="75%">
		<thead>
			<tr class="text-center debated">
				<th class="text-left">Название</th>
				<th class="text-right">Даты</th>
				<th>Тип</th>
				<th>Доступны повопросные результаты?</th>
				<th class="text-left">Страницы на сайте рейтинга</th>
			</tr>
		</thead>
		<tbody>
			{% for tournament in tournaments %}
				<tr class="text-center">
					<td class="text-left"><a href="{{ tournament.get_absolute_url }}">{{ tournament.name }}</a></td>
					<td class="text-right">{{ tournament.get_dates|safe }}</td>
					<td>{{ tournament.get_t_type_display }}</td>
					<td>{% if tournament.results_loaded_status == 2 %}Да{% endif %}</td>
					<td class="text-left">
						<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}">результаты</a>,
						<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}/tours/">повопросная таблица</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock %}