{% extends 'comparing/base.html' %}
{% block main %}
<h2 align="center">{{ page_title }}</h2>

<p><strong>Цель конкурса:</strong> улучшение качества фотографий призёров (да и вообще любых) с очных турниров по спортивному «Что? Где? Когда?».</p>

<p><strong>Кто может участвовать:</strong> все очные турниры, которые прошли или пройдут в 2020 году в любой стране, результаты которых учтены в рейтинге МАК и в которых участвуют хотя бы 15 команд.</p>

<p><strong>Как участвовать:</strong> достаточно, чтобы кто угодно отправил на <a href="mailto:alexey.chernov@gmail.com">alexey.chernov@gmail.com</a> письмо с темой «Конкурс фотографий призёров» со ссылкой на страницу в интернете с отчётом о турнире не позже 31 декабря 2020 года.</p>

<p><strong>Требования к отчёту о турнире:</strong></p>
<ol>
	<li>Он должен быть доступен по URL всем желающим. Не должна требоваться регистрация в какой-либо соцсети.</li>
	<li>Он должен быть опубликован не позже двух недель после окончания турнира.</li>
	<li>В нём должна быть ссылка на результаты турнира по «Что? Где? Когда?» на сайте rating.chgk.info.</li>
	<li>В нём должны быть фотографии по крайней мере трёх лучших команд либо в турнире по ЧГК, либо в общем зачёте фестиваля. Количество фотографий неважно — хоть одна фотография со всеми тремя призёрами.</li>
	<li>Если фотографии призёров не вставлены в отчёт явно, в письме необходимо указать ссылки на нужные три фотографии (или одну, если фотография призёров общая).</li>
</ol>

<p><strong>Как будут определяться победители конкурса:</strong> Наша команда «American Whale» и, возможно, кто-нибудь ещё выберут отчёты с самыми качественными фотографиями команд-призёров. Знаете, такие, которые нам было бы не жалко сохранить и на стенку повесить, если бы это мы попали в призёры (ха-ха). При прочих равных мы будем смотреть на качество и оригинальность всего отчёта, но главное — фотографии призёров.</p>

<p><strong>Призовой фонд турнира:</strong> $300, $200 и $100 в рублях организаторам трёх турниров-победителей. Если вы хотите увеличить призовой фонд, напишите на тот же адрес, какую сумму вы готовы перевести, и призовые будут пропорционально увеличены.</p>

<p><strong>Сроки подведения итогов:</strong> Итоги конкурса будут подведены не позже 15 января 2021 года и выложены на этой странице и во всяких сообществах.</p>

<br/><br/>
<h2 align="center">Результаты конкурса фотографий — 2019</h2>

<p>Мы решили ставить каждому из 14 турниров-кандидатов по две оценки от 1 до 5: за «качество» снимка (в фокусе ли участники, хорошо ли освещены, удачно ли выбрана точка съёмки) и за «артистизм» (бодро ли выглядит команда, улыбаются ли, смотрят в кадр, хорошо ли выстроены). Оценивали шестеро участников нашей American Whale, так что каждая команда получила по 12 оценок. И вот кто набрал больше всех очков:</p>

<table><tr><td style='vertical-align: middle !important; text-align: center;'>Первое место — <a href='http://warszawa.znatoki.pl/%D0%BE%D1%82%D0%BA%D1%80%D1%8B%D1%82%D1%8B%D0%B9-%D1%87%D0%B5%D0%BC%D0%BF%D0%B8%D0%BE%D0%BD%D0%B0%D1%82-%D0%BF%D0%BE%D0%BB%D1%8C%D1%88%D0%B8-2019-%D1%80%D0%B5%D0%B7%D1%83%D0%BB%D1%8C%D1%82%D0%B0/'>Открытый чемпионат Польши</a>
<br/>Варшава, 18-19 мая 2019
<br/>49 очков
 <a href=''>Весь фотоальбом</a></td><td><a href='http://warszawa.znatoki.pl/%D0%BE%D1%82%D0%BA%D1%80%D1%8B%D1%82%D1%8B%D0%B9-%D1%87%D0%B5%D0%BC%D0%BF%D0%B8%D0%BE%D0%BD%D0%B0%D1%82-%D0%BF%D0%BE%D0%BB%D1%8C%D1%88%D0%B8-2019-%D1%80%D0%B5%D0%B7%D1%83%D0%BB%D1%8C%D1%82%D0%B0/'><img height='600px' src='http://chgkstat.org/static/images/2019-photos/05_1.jpg'/></a></td></tr><tr><td><a href='http://warszawa.znatoki.pl/%D0%BE%D1%82%D0%BA%D1%80%D1%8B%D1%82%D1%8B%D0%B9-%D1%87%D0%B5%D0%BC%D0%BF%D0%B8%D0%BE%D0%BD%D0%B0%D1%82-%D0%BF%D0%BE%D0%BB%D1%8C%D1%88%D0%B8-2019-%D1%80%D0%B5%D0%B7%D1%83%D0%BB%D1%8C%D1%82%D0%B0/'><img height='600px' src='http://chgkstat.org/static/images/2019-photos/05_2.jpg'/></a></td><td><a href='http://warszawa.znatoki.pl/%D0%BE%D1%82%D0%BA%D1%80%D1%8B%D1%82%D1%8B%D0%B9-%D1%87%D0%B5%D0%BC%D0%BF%D0%B8%D0%BE%D0%BD%D0%B0%D1%82-%D0%BF%D0%BE%D0%BB%D1%8C%D1%88%D0%B8-2019-%D1%80%D0%B5%D0%B7%D1%83%D0%BB%D1%8C%D1%82%D0%B0/'><img height='600px' src='http://chgkstat.org/static/images/2019-photos/05_3.jpg'/></a></td></tr></table>
 
 
<br/><br/>
<table><tr><td style='vertical-align: middle !important; text-align: center;'>Второе место — <a href='https://vk.com/@dvcup2019-itogi'>III Открытый кубок Дальнего Востока</a>
<br/>Владивосток, 13-14 апреля 2019
<br/>42 очка
 <a href='https://vk.com/wall-173217564_48'>Весь фотоальбом</a></td><td><a href='https://vk.com/photo-120895853_456247080'><img height='600px' src='http://chgkstat.org/static/images/2019-photos/02_1.jpg'/></a></td></tr><tr><td><a href='https://vk.com/photo-120895853_456247079'><img height='600px' src='http://chgkstat.org/static/images/2019-photos/02_2.jpg'/></a></td><td><a href='https://vk.com/photo-120895853_456247078'><img height='600px' src='http://chgkstat.org/static/images/2019-photos/02_3.jpg'/></a></td></tr></table>
 
 
<br/><br/>
<table><tr><td style='vertical-align: middle !important; text-align: center;'>Третье место — <a href='http://blagdon.info/photo'>Благородный Дон</a>
<br/>Ростов-на-Дону, 3-4 мая 2019
<br/>41 очко
 <a href=''>Весь фотоальбом</a></td><td><a href='http://blagdon.info/photo#gallery-32'><img height='600px' src='http://chgkstat.org/static/images/2019-photos/11_1.jpg'/></a></td></tr><tr><td><a href='http://blagdon.info/photo#gallery-33'><img height='600px' src='http://chgkstat.org/static/images/2019-photos/11_2.jpg'/></a></td><td><a href='http://blagdon.info/photo#gallery-34'><img height='600px' src='http://chgkstat.org/static/images/2019-photos/11_3.jpg'/></a></td></tr></table>


<p>Четвёртое место — <a href="https://www.facebook.com/111308893663708/media_set/?set=a.129685811826016" target="_blank">Год театра</a>, Москва, 40 очков; пятое место — <a href="https://vk.com/album-174968831_262626556" target="_blank">Кубок Золотого кольца России</a>, Иваново, 36 очков.</p>

<p>Список всех участников и фотоальбомов есть <a href="https://ru-chgk.livejournal.com/3186379.html" target="_blank">в этой записи</a>.</p>
{% endblock %}