{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Фотографии призёров</title>
</head>
<body>
<h1>Участник 1</h1><img src='{% static 'images/2019-photos/07_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/07_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/07_3.jpg' %}' style='max-width: 100%;'/><br/><br/><br/><br/>
<h1>Участник 2</h1><img src='{% static 'images/2019-photos/01_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/01_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/01_3.jpg' %}' style='max-width: 100%;'/><br/><br/><br/><br/>
<h1>Участник 3</h1><img src='{% static 'images/2019-photos/03_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/03_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/03_3.jpg' %}' style='max-width: 100%;'/><br/><br/><br/><br/>
<h1>Участник 4</h1><img src='{% static 'images/2019-photos/08_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/08_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/08_3.jpg' %}' style='max-width: 100%;'/><br/><br/><br/><br/>
<h1>Участник 5</h1><img src='{% static 'images/2019-photos/02_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/02_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/02_3.jpg' %}' style='max-width: 100%;'/><br/><br/><br/><br/>
<h1>Участник 6</h1><img src='{% static 'images/2019-photos/09_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/09_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/09_3.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/09_4.jpg' %}' style='max-width: 100%;'/><br/><br/><br/>
<h1>Участник 7</h1><img src='{% static 'images/2019-photos/06_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/06_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/06_3.jpg' %}' style='max-width: 100%;'/><br/><br/><br/><br/>
<h1>Участник 8</h1><img src='{% static 'images/2019-photos/11_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/11_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/11_3.jpg' %}' style='max-width: 100%;'/><br/><br/><br/><br/>
<h1>Участник 9</h1><img src='{% static 'images/2019-photos/05_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/05_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/05_3.jpg' %}' style='max-width: 100%;'/><br/><br/><br/><br/>
<h1>Участник 10</h1><img src='{% static 'images/2019-photos/04_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/04_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/04_3.jpg' %}' style='max-width: 100%;'/><br/><br/><br/><br/>
<h1>Участник 11</h1><img src='{% static 'images/2019-photos/10_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/10_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/10_3.jpg' %}' style='max-width: 100%;'/><br/><br/><br/><br/>
<h1>Участник 12</h1><img src='{% static 'images/2019-photos/13_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/13_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/13_3.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/13_4.jpg' %}' style='max-width: 100%;'/><br/><br/><br/>
<h1>Участник 13</h1><img src='{% static 'images/2019-photos/14_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/14_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/14_3.jpg' %}' style='max-width: 100%;'/><br/><br/><br/><br/>
<h1>Участник 14</h1><img src='{% static 'images/2019-photos/12_1.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/12_2.jpg' %}' style='max-width: 100%;'/><br/><img src='{% static 'images/2019-photos/12_3.jpg' %}' style='max-width: 100%;'/><br/><br/><br/><br/>

</body>
</html>