{% extends 'comparing/base.html' %}
{% load static %}
{% block main %}
<img src="{% static 't_t_graphs/1_4763_38693-46381-7864-56459-48942-3848-3730.png' %}"/>
<img src="{% static '1_4763_38693-46381-7864-56459-48942-3848-3730.png' %}"/>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawAll);

function drawCrosshairs(arr_data, div_id) {
	var data = new google.visualization.DataTable();
	data.addColumn('number', 'X');
	{{ team_names }}

	data.addRows(  );

	var options = {
		hAxis: {
			title: 'Номер вопроса'
		},
		vAxis: {
			title: 'Число взятых'
		},
		'width':1000,
		'height':600,
	};

	var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

	chart.draw(data, options);
}
function drawAll(arr_data) {
	drawCrosshairs({{ arr_data1 }}, 'chart_div1');
</script>
<div id="chart_div1"></div>
<br/>
<div id="chart_div2"></div>
{% endblock %}