{% extends 'comparing/base.html' %}
{% block main %}

<h3>{{ page_title }}</h3>

<p>Доброе утро, Лёша!</p>

<p>Команд в базе данных: {{ n_teams }}, турниров: {{ n_tournaments }}</p>

<p>Запросов за последнюю неделю: {{ n_requests_this_week }}, за неделю перед этим: {{ n_requests_prev_week }}</p>

<table border="0" width="100%">
	<tr>
		<td width="60%">
			<h3>Последние изменения команд</h3>
			<table border="1">
				<tr>
					<th>Время</th><th>Команда</th><th>Действие</th><th>Комментарий</th><th>Новые значения</th>
				</tr>
				{% for team_change in team_changes %}
					<tr>
						<td>{{ team_change.table_update.added_time|date:'d E Y H:i' }}</td>
						<td><a href="{{ team_change.team.get_rating_url }}" target="_blank">{{ team_change.team.name|default:'(нет)' }}</a></td>
						<td>{{ team_change.table_update.get_action_type_display }}</td>
						<td>{{ team_change.table_update.comment }}</td>
						<td>{% for field_change in team_change.table_update.field_update_set.all %}
								{{ field_change.field_name }}: '{{ field_change.old_value }}' -> '{{ field_change.new_value }}'
								<br/>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</table>

			<h3>Последние изменения турниров</h3>
			<table border="1">
				<tr>
					<th>Время</th><th>Турнир</th><th>Действие</th><th>Комментарий</th><th>Новые значения</th>
				</tr>
				{% for tournament_change in tournament_changes %}
					<tr>
						<td>{{ tournament_change.table_update.added_time|date:'d E Y H:i' }}</td>
						<td><a href="{{ tournament_change.tournament.get_rating_url }}" target="_blank">{{ tournament_change.tournament.name|default:'(нет)' }}</a></td>
						<td>{{ tournament_change.table_update.get_action_type_display }}</td>
						<td>{{ tournament_change.table_update.comment }}</td>
						<td>{% for field_change in tournament_change.table_update.field_update_set.all %}
								{{ field_change.field_name }}: '{{ field_change.old_value }}' -> '{{ field_change.new_value }}'
								<br/>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</td>
		<td width="40%">
			<h3>Последние {{ N_LAST_REQUESTS }} запросов</h3>
			<table border="1">
				<tr>
					<th>Время</th><th>IP</th><th>Турнир</th><th>Команды</th>
				</tr>
				{% for request in last_requests %}
					<tr>
						<td>{{ request.added_time|date:"Y-m-d G:i:s" }}</td>
						<td>{{ request.request_ip }}</td>
						<td><a href="{{ request.tournament.get_absolute_url }}" target="_blank">{{ request.tournament.name|default:'(нет)' }}</a></td>
						<td><a href="{% url 'compare_teams_list_on_tournament' tournament_id=request.tournament.id team_ids=request.team_list %}" target="_blank">
							{{ request.team_list|truncatechars:60 }}</a>
						</td>
					</tr>
				{% endfor %}
			</table>

			<h3>Самые популярные турниры за неделю</h3>
			<table border="1">
				<tr>
					<th>Число</th><th>Турнир</th><th>Даты</th>
				</tr>
				{% for tournament, count in this_week_tournaments %}
					<tr>
						<td>{{ count }}</td>
						<td><a href="{{ tournament.get_absolute_url }}" target="_blank">{{ tournament.name|default:'(нет)' }}</a></td>
						<td class="text-right">{{ tournament.get_dates|safe }}</td>
					</tr>
				{% endfor %}
			</table>

			<h3>Самые популярные запросы за всегда</h3>
			<table border="1">
				<tr>
					<th>Число</th><th>Турнир</th><th>Команды</th>
				</tr>
				{% for request in most_popular_requests %}
					<tr>
						<td>{{ request.quantity }}</td>
						<td><a href="{{ request.tournament.get_absolute_url }}" target="_blank">{{ request.tournament.name|default:'(нет)' }}</a></td>
						<td><a href="{% url 'compare_teams_list_on_tournament' tournament_id=request.tournament.id team_ids=request.team_list %}" target="_blank">
							{{ request.team_list|truncatechars:60 }}</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		</td>
	</tr>
</table>

{% endblock %}