{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/fc-3.2.4/datatables.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/fc-3.2.4/datatables.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
		<title>{% if page_title %}{{ page_title|safe }} – {% endif %}Статистика «Что? Где? Когда?»</title>
	</head>
	<body>
		<div class="content"><div class="content-inside">
			<form method="GET" action="{% url 'tournament_team_list' %}">
				<p align="center">
					<select class="tournaments-list" name="tournament_id" style="width: 33%"></select>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="submit" name="tournaments_submit" value="Перейти"
						style="background-color: #d4edda; font-size: 14px; padding: 4px 10px; border-radius: 4px; border: 2px solid #4CAF50;"/>
				</p>
			</form>
			<hr/>
			<br/>
			{% for message in messages %}
				<span class="label-warning">{{ message|safe }}</span>
			{% endfor %}
<h2 align="center">
	4Сравнение результатов команд на турнире «{{ tournament.name }}» ({{ tournament.get_dates|safe }})
</h2>
<p align="center">
	<a href="{{ tournament.get_absolute_url }}">Сравнить другие команды</a>
</p>
<p align="center">
	<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}">Страница турнира на сайте рейтинга</a>,
	<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}/tours/">повопросная таблица</a>,
	<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}/controversials/">спорные ответы</a>
</p>
<br/>
<table id="results_by_team" class="cell-border compact hover order-column" cellspacing="0" width="100%">
	<thead>
		<tr class="text-center">
			<th colspan="3"></th>
			{% for tour in tours %}
				<th colspan="{{ tournament.questions_per_tour }}">Тур {{ forloop.counter }}</th>
				<th{% if not forloop.first %} colspan="2"{% endif %}></th>
			{% endfor %}
		</tr>
		<tr class="text-center">
			<th>№</th>
			<th class="text-left">Команда</th>
			<th class="danger">Σ</th>
			{% for tour_questions in tours %}
				{% for number, question in tour_questions.items %}
					<th class="no-sort nobr">
						{% if question.lj_link %}
							<a href="{{ question.lj_link }}" target="_blank"><img src="{% static 'images/lj16.png' %}" class="lj-link" title="Ссылка на обсуждение в ЖЖ"></a>
						{% endif %}
						{% if question.text %}
							<abbr title="{{ question.text }}">
								{% if number < 10 %}&#8201;{{ number }}&#8201;{% else %}{{ number }}{% endif %}
							</abbr>
						{% else %}
							{% if number < 10 %}&#8201;{{ number }}&#8201;{% else %}{{ number }}{% endif %}
						{% endif %}
					</th>
				{% endfor %}
				<th class="debated">Тур {{ forloop.counter }}</th>
				{% if forloop.last %}
					<th class="danger">Σ</th>
				{% elif not forloop.first %}
					<th class="danger">За {{ forloop.counter }}<br/>тура</th>
				{% endif %}
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for team in teams %}
			<tr class="text-center">
				<td></td>
				<td class="text-left nobr"><a href="http://rating.chgk.info/team/{{ team.id }}" target="_blank">{{ team.name }}</a></td>
				<td class="danger">{{ team.total_score }}</td>
				{% for tour in team.tours %}
					{% for question in tour.score %}
						<td class="{{ question.class }}">{{ question.symbol|safe }}</td>
					{% endfor %}
					<td class="debated">{{ tour.score_by_tour }}</td>
					{% if not forloop.first %}
						<td class="danger">{{ tour.score_from_start }}</td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
<br/><br/>
<div align="center">
	<table id="features" class="hover order-column min-width" cellspacing="0">
		<thead>
			<tr class="text-center">
				<th class="min-width">№</th>
				<th class="text-left">Команда</th>
				<th class="taken min-width">Взято всего</th>
				<th class="saved nobr">Спасено<br/>от гробов</th>
			</tr>
		</thead>
		<tbody>
			{% for team in teams %}
				<tr class="text-center">
					<td class="min-width"></td>
					<td class="text-left nobr"><a href="http://rating.chgk.info/team/{{ team.id }}" target="_blank">{{ team.name }}</a></td>
					<td class="taken min-width">{{ team.total_score }}</td>
					<td class="saved min-width">{{ team.saved_by_me }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<p style="color: #fff;">Время создания: {{ time_generated|date:"Y-m-d G:i:s" }}</p>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$(".tournaments-list").select2({
		placeholder: "Введите часть названия или ID турнира",
		width: 'element',
		allowClear: true,
		ajax: {
			url: "/ajax/tournaments/",
			dataType: 'json',
			delay: 250,
			data: function (params) {
				return {
					query: params.term
				};
			},
			processResults: function (data) {
				return {
					results: data
				};
			},
			cache: true
		},
	});
	t1 = $('#results_by_team').DataTable({
		paging:		false,
		info:		false,
		searching:	false,
		order:		[[ 2, "desc" ]],
		columnDefs: [ {
			"orderable" : false,
			"targets" : [ "no-sort" ]
		} ],
		scrollX:	true,
	    fixedColumns:   {
	        leftColumns: 2
	    }
	});
	t2 = $('#features').DataTable({
		"paging":	false,
		"info":	  false,
		"searching": false,
		"order":	 [[ 2, "desc" ]],
		"autoWidth": false,
		"columnDefs": [ {
			"orderable" : false,
			"targets" : [ "no-sort" ]
		} ]
	});
	t1.on( 'order.dt search.dt', function () {
		t1.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
			cell.innerHTML = i+1;
		} );
	} ).draw();
	t2.on( 'order.dt search.dt', function () {
		t2.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
			cell.innerHTML = i+1;
		} );
	} ).draw();
});
</script>
<style type="text/css">
html {
	height: 100%;
	margin: 0;
}
.wrapper {
	min-height: 100%;
	margin-bottom: -50px;
}
.content {
	min-height: 100%;
}
.content-inside {
	padding: 10px;
	padding-bottom: 40px;
}
.footer {
	height: 40px;
	margin-top: -40px;
	padding-left: 30px;
	padding-right: 30px;
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	background-color: #fff;
	height: 100%;
	margin: 0;
}
a {
	color: #337ab7;
	text-decoration: none;
}
a:hover {
	color: #337ab7;
	text-decoration: underline;
}

th {
	vertical-align: bottom;
}
tr.text-center>td, tr.text-center>th, td.text-center, th.text-center {
	text-align: center;
}
td.text-left, th.text-left {
	text-align: left !important;
}
td.text-right, th.text-right {
	text-align: right !important;
}

td.saved, th.saved {
	background-color: #d4edda !important;
}
td.taken, th.taken {
	background-color: #ffeeba !important;
}
td.danger, th.danger {
	background-color: #f2dede !important;
}
td.secondary, th.secondary {
	background-color: #e7e8ea !important;
}
td.debated, th.debated {
	background-color: #cce5ff !important;
}

table.dataTable.compact thead th, table.dataTable.compact thead td {
	padding: 4px 6px 4px 6px;
}
td.min-width, th.min-width, table.min-width {
	width: 1%;
}
/*
th.thin {
	padding: 4px !important;
}
*/
.nobr {
	white-space:nowrap;
}

.label-warning {
	background-color: #f0ad4e;
	display: inline;
	padding: .2em .6em .3em;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.btn-submit {
	background-color: #d4edda;
	font-size: 14px;
	padding: 4px 10px;
	border-radius: 4px;
	border: 2px solid #4CAF50;
}
img.lj-link {
	display: block;
	margin: 0 auto 3px auto;
}

</style>
		</div></div>
		<footer class="footer">
			<span style="float: left;">Не ЧГК единым! <a href="http://base.probeg.org/races">Где побегать в ближайший месяц в России, Украине, Беларуси</a></span>
			<span style="float: right;">По любым вопросам можно писать на адрес <a href="mailto:alexey.chernov@gmail.com">alexey.chernov@gmail.com</a></span>
		</footer>
	</body>
</html>