{% extends 'comparing/base.html' %}
{% load static %}
{% block main %}
<h2 align="center">
	Сравнение результатов команд на турнире «{{ tournament.name }}» ({{ tournament.get_dates|safe }})
</h2>
<p align="center">
	У нас:
	<a href="{{ tournament.get_absolute_url }}">сравнить другие команды</a>,
	<a href="{{ tournament.get_questions_table_url }}">полная повопросная таблица</a>
</p>
<p align="center">
	На сайте рейтинга:
	<a target="_blank" href="{{ tournament.get_rating_url }}">страница турнира</a>,
	<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}/tours/">повопросная таблица</a>,
	<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}/controversials/">спорные ответы</a>
</p>
<br/>
<table id="results_by_team" class="cell-border compact hover order-column" cellspacing="0" width="100%">
	<thead>
		<tr class="text-center">
			<th colspan="3"></th>
			{% for tour in tours %}
				<th colspan="{{ tour.n_questions }}">Тур {{ forloop.counter }}</th>
				<th{% if not forloop.first %} colspan="2"{% endif %}></th>
			{% endfor %}
		</tr>
		<tr class="text-center">
			<th>№</th>
			<th class="text-left">Команда</th>
			<th class="danger">Σ</th>
			{% for tour_dict in tours %}
				{% for number, question_dict in tour_dict.questions.items %}
					<th class="no-sort nobr">
						{% if question_dict.question_text.lj_link %}
							<a href="{{ question_dict.question_text.lj_link }}" target="_blank"><img src="{% static 'images/lj16.png' %}" class="lj-link" title="Ссылка на обсуждение в ЖЖ"></a>
						{% endif %}
						{% if question_dict.question_text.text %}
							<abbr title="{{ question_dict.question_text.text }}">
								{% if number < 10 %}&#8201;{{ number }}&#8201;{% else %}{{ number }}{% endif %}
							</abbr>
						{% else %}
							{% if number < 10 %}&#8201;{{ number }}&#8201;{% else %}{{ number }}{% endif %}
						{% endif %}
					</th>
				{% endfor %}
				<th class="debated">Тур {{ forloop.counter }}</th>
				{% if forloop.last %}
					<th class="danger">Σ</th>
				{% elif not forloop.first %}
					<th class="danger">За {{ forloop.counter }}<br/>тура</th>
				{% endif %}
			{% endfor %}
		</tr>
	</thead>
	{% if tournament.n_teams_with_results %}
		<tfoot><tr class="text-center">
			<th colspan="2">Взяли (из {{ tournament.n_teams_with_results }})</th>
			<th class="danger">Σ</th>
			{% for tour_dict in tours %}
				{% for number, question_dict in tour_dict.questions.items %}
					{% if question_dict.is_dropped %}
						<th class="secondary"></th>
					{% else %}
						<th class="easy{{ question_dict.question_data.percent_teams_taken_rounded }}">
							<abbr title="{{ question_dict.question_data.percent_teams_taken }}%">
								{{ question_dict.question_data.n_teams_taken }}
							</abbr>
						</th>
					{% endif %}
				{% endfor %}
				<th class="debated">Тур {{ forloop.counter }}</th>
				{% if forloop.last %}
					<th class="danger">Σ</th>
				{% elif not forloop.first %}
					<th class="danger"></th>
				{% endif %}
			{% endfor %}
		</tr></tfoot>
	{% endif %}
	<tbody>
		{% for team_data in teams %}{% with team=team_data.team %}
			<tr class="text-center">
				<td></td>
				<td class="text-left nobr"><a href="{{ team.get_rating_url }}" target="_blank">{{ team.name }}</a></td>
				<td class="danger">{{ team_data.total_score }}</td>
				{% for tour in team_data.tours %}
					{% for question in tour.score %}
						<td class="{{ question.class }}">{{ question.symbol|safe }}</td>
					{% endfor %}
					<td class="debated">{{ tour.score_by_tour }}</td>
					{% if not forloop.first %}
						<td class="danger">{{ tour.score_from_start }}</td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endwith %}{% endfor %}
	</tbody>
</table>
<br/><br/>
<div align="center">
	<table id="features" class="hover order-column min-width" cellspacing="0">
		<thead>
			<tr class="text-center">
				<th class="min-width">Рейтинг</th>
				<th class="min-width">Предсказ.<br/>место</th>
				<th class="min-width">Занятое<br/>место</th>
				<th class="min-width">Бонус</th>
				<th class="min-width">Прибавка<br/>в&nbsp;рейтинг</th>
				<th class="min-width debated">№</th>
				<th class="text-left debated">Команда</th>
				<th class="text-left debated">Город</th>
				<th class="taken min-width">Взято всего</th>
				<th class="saved nobr">Спасено<br/>от гробов</th>
				{% if tournament.n_teams_with_results %}
					<th class="nobr">Самый сложный<br/>взятый</th>
					<th class="nobr">Самый простой<br/>невзятый</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for team_data in teams %}{% with team=team_data.team %}
				<tr class="text-center">
					<td class="min-width">{{ team_data.on_tournament.tech_rating_rg }}</td>
					<td class="min-width">{{ team_data.on_tournament.print_predicted_position|safe }}</td>
					<td class="min-width">{{ team_data.on_tournament.print_position|safe }}</td>
					<td class="min-width">{{ team_data.on_tournament.bonus_b }}</td>
					<td class="min-width">{{ team_data.on_tournament.print_diff_bonus_with_brackets|default:''|safe }}</td>
					<td class="min-width debated"></td>
					<td class="text-left nobr debated"><a href="{{ team.get_rating_url }}" target="_blank">{{ team.name }}</a></td>
					<td class="text-left nobr debated">{{ team.city_name }}</td>
					<td class="taken min-width">{{ team_data.total_score }}</td>
					<td class="saved min-width">{{ team_data.saved_by_me }}</td>
					{% if tournament.n_teams_with_results %}
						<td class="nobr">{% if team_data.hardest_taken %}
								{% if team_data.hardest_taken.question_text.text %}
									<abbr title="{{ team_data.hardest_taken.question_text.text }}">{{ team_data.hardest_taken_number }}</abbr>
								{% else %}
									{{ team_data.hardest_taken_number }}
								{% endif %}
								(взяли {{ team_data.hardest_taken.question_data.percent_teams_taken }}%)
							{% endif %}
						</td>
						<td class="nobr">{% if team_data.simplest_not_taken %}
								{% if team_data.simplest_not_taken.question_text.text %}
									<abbr title="{{ team_data.simplest_not_taken.question_text.text }}">{{ team_data.simplest_not_taken_number }}</abbr>
								{% else %}
									{{ team_data.simplest_not_taken_number }}
								{% endif %}
								(взяли {{ team_data.simplest_not_taken.question_data.percent_teams_taken }}%)
							{% endif %}
						</td>
					{% endif %}
				</tr>
			{% endwith %}{% endfor %}
		</tbody>
	</table>
	<p style="color: #fff;">Время создания: {{ time_generated|date:"Y-m-d G:i:s" }}</p>
</div>
<script>
t1 = $('#results_by_team').DataTable({
	paging:		false,
	info:		false,
	searching:	false,
	order:		[[ 2, "desc" ]],
	columnDefs: [ {
		"orderable" : false,
		"targets" : [ "no-sort" ]
	} ],
	scrollX:	true,
    fixedColumns:   {
        leftColumns: 2
    }
});
t2 = $('#features').DataTable({
	"paging":	false,
	"info":	  false,
	"searching": false,
	"order":	 [[ 8, "desc" ]],
	"autoWidth": false,
	"columnDefs": [ {
		"orderable" : false,
		"targets" : [ "no-sort" ]
	} ]
});
t1.on( 'order.dt search.dt', function () {
	t1.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
		cell.innerHTML = i+1;
	} );
} ).draw();
t2.on( 'order.dt search.dt', function () {
	t2.column(5, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
		cell.innerHTML = i+1;
	} );
} ).draw();
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawAll);

function drawCrosshairs(arr_data, div_id) {
	var data = new google.visualization.DataTable();
	data.addColumn('number', 'X');
	{{ team_names|safe }}

	data.addRows(arr_data);

	var options = {
		hAxis: {
			title: 'Номер вопроса'
		},
		vAxis: {
			title: 'Число взятых'
		},
		'width':1000,
		'height':600,
	};

	var chart = new google.visualization.LineChart(document.getElementById(div_id));

	chart.draw(data, options);
}
function drawAll(arr_data) {
	drawCrosshairs({{ arr_data1 }}, 'chart_div1');
	drawCrosshairs({{ arr_data3 }}, 'chart_div3');
}
</script>
<div id="chart_div1" style="display: inline-block; margin: 0 auto;"></div>
<br/>
<div id="chart_div3" style="display: inline-block; margin: 0 auto;"></div>
<p>На первом графике — просто число взятых вопросов у каждой команды после каждого вопроса.</p>
<p>На втором — в каждый момент времени всем лидерам из нашего набора команд даём 1, всем замыкающим — 0,
а остальные команды линейно растягиваем на этом промежутке в соответствии с числом набранных очков. До первого вопроса все команды помещаем в 0,5.</p>
{% endblock %}