{% extends 'comparing/base.html' %}
{% load static %}
{% block main %}
<h2 align="center">
	{{ page_title }}
</h2>
<p>Мы взяли все команды с базовыми составами, которые в текущем сезоне (с 31 августа 2018 года) сыграли хотя бы {{ MIN_TOURNAMENTS_FOR_RATINGS }} игр «в рейтинг», и посчитали тремя способами их средний бонус Б в этих играх по состоянию на {{ rating_release_date }}.
</p>
<p>Всего хоть одну игру в рейтинг сыграли {{ n_teams_with_1_game }} команд, из них хотя бы {{ MIN_TOURNAMENTS_FOR_RATINGS }} игр — {{ n_teams_with_enough }}. Подробнее:
	{% for n, value, percent in top_teams %}
		<br/>среди первых {{ n }} в рейтинге Б — {{ value }}, или {{ percent }}%
	{% endfor %}
</p>
<p>Кажется, интересней всего просто смотреть на рейтинги Б команд, которые по другим рейтингам выступают похоже на вас. Если у вас есть другие идеи, как это интересно трактовать — пишите на адрес внизу страницы!
</p>
<table id="ratings_by_team" class="cell-border compact hover order-column" cellspacing="0" width="100%">
	<thead>
		<tr class="text-center">
			<th class="text-left">Команда</th>
			<th class="sort-desc">Игр в рейтинг<br/>в сезоне</th>
			<th class="debated sort-desc">Рейтинг Б<br/>на {{ rating_release_date }}</th>
			<th class="debated">Место</th>
			<th class="taken sort-desc">Среднее среди<br/>всех результатов,<br/>кроме лучшего и худшего</th>
			<th class="taken">Место</th>
			<th class="saved sort-desc">Среднее среди<br/>всех результатов,<br/>кроме лучших и худших [N/8]</th>
			<th class="saved">Место</th>
			<th class="danger sort-desc">Отрезаем ⌈N/4⌉<br/>худших результатов,<br/>очным турнирам даём вес 2</th>
			<th class="danger">Место</th>
		</tr>
	</thead>
	<tbody>
		{% for team_data in teams %}
			<tr class="text-center">
				<td class="text-left nobr"><a href="http://rating.chgk.info/team/{{ team_data.team_id }}" target="_blank">{{ team_data.name }}</a></td>
				<td>{{ team_data.ratings.1.n_games }}</td>
				<td class="debated">{{ team_data.ratings.0.value }}</td>
				<td class="debated">{{ team_data.ratings.0.place }}</td>
				<td class="taken">{{ team_data.ratings.1.value }}</td>
				<td class="taken">{{ team_data.ratings.1.place }}</td>
				<td class="saved">{{ team_data.ratings.2.value }}</td>
				<td class="saved">{{ team_data.ratings.2.place }}</td>
				<td class="danger">{{ team_data.ratings.3.value }}</td>
				<td class="danger">{{ team_data.ratings.3.place }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
t1 = $('#ratings_by_team').DataTable({
	paging:		false,
	info:		false,
	searching:	false,
	order:		[[ 9, "asc" ]],
	"columnDefs": [ {
		"orderSequence" : ["desc"],
		"targets" : [ "sort-desc" ]
	 } ]
});
</script>
<br/>
{% endblock %}