{% extends 'comparing/base.html' %}
{% load static %}
{% load comparing_extras %}
{% block main %}
<h2 class="text-center">
	Немного статистики про команду <a href="{{ team.get_rating_url }}" target="_blank">{{ team.name }}</a>
	{% if team.city %}({{ team.city.name }}){% endif %}
</h2>
{% if played_like_me %}
	<h3>Команды, игравшие последний год на близком уровне</h3>
	<p>Всего за последний год команда сыграла {{ team.n_games_last_year }} рейтинговы{{ team.n_games_last_year|ending:5 }} турнир{{ team.n_games_last_year|ending:1 }}.
		{{ team.n_teams_played_many_games_with_me }} друг{{ team.n_teams_played_many_games_with_me|ending:22 }} команд{{ team.n_teams_played_many_games_with_me|ending:2 }}
		сыграл{{ team.n_teams_played_many_games_with_me|ending:21 }} хотя бы {{ MIN_GAMES_IN_YEAR_TO_CHECK }} из них. Вот какие показали в среднем
		{% if team.n_games_last_year > MAX_TOGETHER_GAMES_TO_CHECK %}
			(за последние {{ MAX_TOGETHER_GAMES_TO_CHECK }} из общих игр)
		{% endif %}
		наиболее близкие к вашим результаты. Нажмите на название команды, чтобы сравнить результаты.</p>
	<table id="played_like_me" class="table_regular display" style="max-width: 1000px;">
		<thead>
			<tr class="debated">
				<th class="text-left">Название</th>
				<th class="text-center">Рейтинг на {{ rating_date|safe }}</th>
				<th class="text-center">Насколько в среднем очков за игру вы берёте больше</th>
				<th class="text-center">Дисперсия между вашими и их очками</th>
				<th class="text-center">Сколько у вас общих игр за год</th>
			</tr>
		</thead>
		<tbody>
			{% for row in played_like_me %}
				<tr>
					<td class="text-left">
						<a target="_blank" href="{% url 'compare_two_teams' team1_id=team.id team2_id=row.team2_id %}">{{ row.team2.name }}</a>
						{% if row.team2.city %}({{ row.team2.city.name }}){% endif %}
					</td>
					<td class="text-center">
						{% if row.team2.rating_score %}
							{{ row.team2.rating_score }} ({{ row.team2.rating_place }} место)
						{% endif %}
					</td>
					<td class="text-center {% if row.difference > 0 %}saved{% elif row.difference < 0 %}danger{% endif %}">
						{% if row.difference == 0 %}
							вообще вровень идёте
						{% else %}
							{{ row.difference }}
						{% endif %}
					</td>
					<td class="text-center">
						{% if row.deviation == 0 %}
							поровну набрали на всех играх, фантастика
						{% else %}
							{{ row.deviation }}
						{% endif %}
					</td>
					<td class="text-center">{{ row.games_both_played }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br/><br/>
{% endif %}


Данные о командах — по состоянию на {{ team_partners_filled|safe }}; об игроках — {{ players_in_teams_filled|safe }}.
{% for data in time_segments %}
<h3>{{ data.name|safe }} команда сыграла {{ data.team_played }} игр{{ data.team_played|ending:19 }}
	(в том числе на очных турнирах — {{ data.team_played_offline }})
</h3>
<table border="0" width="100%"><tr>
	<td width="20%" class="text-center" style="vertical-align: top;">
		{% if data.team_players_part1 %}
			{% if show_all %}
				<h4>Все игравшие за команду</h4>
			{% else %}
				<h4>Больше всего игр</h4>
			{% endif %}
			<table id="table_{{ forloop.counter0 }}_0" class="table_regular display">
				<thead>
					<tr class="debated">
						<th class="text-right min-width">№</th>
						<th class="text-left">Имя</th>
						<th class="text-right">Игр</th>
					</tr>
				</thead>
				<tbody>
					{% for i, player_in_team in data.team_players_part1 %}
						<tr>
							<td class="text-right min-width">{{ i|add:1 }}</td>
							<td class="text-left">
								<a target="_blank" href="{{ player_in_team.player.get_rating_url }}">{{ player_in_team.player.name }} {{ player_in_team.player.surname }}</a>
							</td>
							<td class="text-right">{{ player_in_team.n_games }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</td>
	<td width="20%" class="text-center" style="vertical-align: top;">
		{% if data.team_players_part2 %}
			<h4>{% if data.show_all_link %}
					<a href="{% url 'team_details' team_id=team.id show_all=1 %}">полный список игроков</a>
				{% else %}
					&nbsp;
				{% endif %}
			</h4>
			<table id="table_{{ forloop.counter0 }}_3" class="table_regular display">
				<thead>
					<tr class="debated">
						<th class="text-right min-width">№</th>
						<th class="text-left">Имя</th>
						<th class="text-right">Игр</th>
					</tr>
				</thead>
				<tbody>
					{% for i, player_in_team in data.team_players_part2 %}
						<tr>
							<td class="text-right min-width">{{ i|add:1 }}</td>
							<td class="text-left">
								<a target="_blank" href="{{ player_in_team.player.get_rating_url }}">{{ player_in_team.player.name }} {{ player_in_team.player.surname }}</a>
							</td>
							<td class="text-right">{{ player_in_team.n_games }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</td>
	<td width="30%" class="text-center" style="vertical-align: top;">
		{% if data.most_often_teams %}
			<h4>Команды, игравшие на тех же турнирах</h4>
			<table id="table_{{ forloop.counter0 }}_1" class="table_regular display">
				<thead>
					<tr class="debated">
						<th class="text-left">Команда</th>
						<th class="text-left">Город</th>
						<th class="text-right">Игр</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for most_often_partner in data.most_often_teams %}
						<tr>
							<td class="text-left">
								<a target="_blank" href="{{ most_often_partner.team2.get_rating_url }}">{{ most_often_partner.team2.name }}</a>
							</td>
							<td class="text-left">{{ most_often_partner.team2.city.name|default_if_none:'' }}</td>
							<td class="text-right">{{ most_often_partner.n_games }}</td>
							<td><a href="{% url 'compare_two_teams' team1_id=team.id team2_id=most_often_partner.team2.id %}">сравнить</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</td>
	<td width="30%" class="text-center" style="vertical-align: top;">
		{% if data.most_often_offline_teams %}
			<h4>И на тех же очных турнирах</h4>
			<table id="table_{{ forloop.counter0 }}_2" class="table_regular display">
				<thead>
					<tr class="debated">
						<th class="text-left">Команда</th>
						<th class="text-left">Город</th>
						<th class="text-right">Игр</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for most_often_partner in data.most_often_offline_teams %}
						<tr>
							<td class="text-left">
								<a target="_blank" href="{{ most_often_partner.team2.get_rating_url }}">{{ most_often_partner.team2.name }}</a>
							</td>
							<td class="text-left">{{ most_often_partner.team2.city.name|default_if_none:'' }}</td>
							<td class="text-right">{{ most_often_partner.n_games }}</td>
							<td><a href="{% url 'compare_two_teams' team1_id=team.id team2_id=most_often_partner.team2.id %}">сравнить</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</td>
</tr></table>
<br/><br/>
{% empty %}
	<p>Увы, у нас нет никаких данных об этой команде.</p>
{% endfor %}
<script type="text/javascript">
	$('.table_regular').DataTable({
		"paging":	false,
		"info":	  false,
		"searching": false,
		"ordering":	false,
	});
</script>
{% endblock %}