{% extends 'comparing/base.html' %}
{% block main %}
<table id="table-team-records-0" class="display simple-data-table">
	<thead><tr class="text-center debated"><th>№</th><th colspan="2">По числу игр</th></tr>
		<tr class="text-center debated"><th></th><th></th><th></th></tr>
	</thead>

	<tbody><tr><td class="text-center">1</td><td class="text-left"><a href="/team/54799/">Губы Дзюбы</a><br/>
						(Москва)
					</td><td class="text-center">117</td></tr></tbody>
		</table>
{% endblock %}