{% extends 'comparing/base.html' %}
{% load static %}
{% block main %}
<h2 align="center">
	Подробные результаты турнира «{{ tournament.name }}» ({{ tournament.get_dates|safe }})
	{% if n_first_tours == 1 %}
		за первый тур
	{% elif n_first_tours %}
		за первые {{ n_first_tours }} тура
	{% endif %}
</h2>
<form method="GET" action="{{ tournament.get_questions_table_url }}">
	{% csrf_token %}
	<p align="center">
		У нас: <a href="{{ tournament.get_absolute_url }}">сравнить результаты нескольких команд</a>,
		<input type="submit" value="сравнить"/> результаты команд за первые туры:
		<select name="n_first_tours">
			{% for i in 'x'|rjust:n_tours_minus_one %}
				<option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
			{% endfor %}
			<option value="" selected>все</option>
		</select>
	</p>
</form>
<p align="center">
	На сайте рейтинга:
	<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}">страница турнира</a>,
	<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}/tours/">повопросная таблица</a>,
	<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}/controversials/">спорные ответы</a>
</p>
{% if error %}
	{{ error }}
	К сожалению, нечего отображать. Если думаете, что на сайте ошибка, пожалуйста, напишите на <a href="mailto:alexey.chernov@gmail.com">alexey.chernov@gmail.com</a>.
{% else %}
	{% if n_teams_wo_results %}
		<p>Команд, у которых результаты не введены или введена только часть результатов: {{ n_teams_wo_results }}</p>
	{% endif %}
	<p><a href="#" onclick="switch_cols(); return false;" class="dash-underlined">Показать/скрыть пять колонок с числами про рейтинг</a>
		(занимает несколько секунд)
	</p>
	<table id="results_by_team" class="cell-border compact hover order-column" cellspacing="0" width="100%">
		<thead>
			<tr class="text-center">
				<th colspan="8"></th>
				{% for tour in tours %}
					<th colspan="{{ tour.n_questions }}">Тур {{ forloop.counter }}</th>
					<th{% if not forloop.first %} colspan="2"{% endif %}></th>
				{% endfor %}
			</tr>
			<tr class="text-center">
				<th>№</th>
				<th class="text-left">Команда</th>
				<th><abbr title="Рейтинг">Р</abbr></th>
				<th><abbr title="Предсказанное место">МР</abbr></th>
				<th><abbr title="Занятое место">М</abbr></th>
				<th><abbr title="Бонус">Б</abbr></th>
				<th><abbr title="Прибавка к рейтингу">D</abbr></th>
				<th class="danger">Σ</th>
				{% for tour_dict in tours %}
					{% for number, question_dict in tour_dict.questions.items %}
						<th class="no-sort nobr">
							{% if question_dict.question_text.lj_link %}
								<a href="{{ question_dict.question_text.lj_link }}" target="_blank"><img src="{% static 'images/lj16.png' %}" class="lj-link" title="Ссылка на обсуждение в ЖЖ"></a>
							{% endif %}
							{% if question_dict.question_text.text %}
								<abbr title="{{ question_dict.question_text.text }}">
									{% if number < 10 %}&#8201;{{ number }}&#8201;{% else %}{{ number }}{% endif %}
								</abbr>
							{% else %}
								{% if number < 10 %}&#8201;{{ number }}&#8201;{% else %}{{ number }}{% endif %}
							{% endif %}
						</th>
					{% endfor %}
					<th class="debated">Тур {{ forloop.counter }}</th>
					{% if forloop.last and not forloop.first %}
						<th class="danger">Σ</th>
					{% elif not forloop.first %}
						<th class="danger">За {{ forloop.counter }}<br/>тура</th>
					{% endif %}
				{% endfor %}
			</tr>
		</thead>
		<tfoot>
			<tr class="text-center">
				<th colspan="2">Взяли (из {{ tournament.n_teams_with_results }})</th>
				<th colspan="5"></th>
				<th class="danger"></th>
				{% for tour_dict in tours %}
					{% for number, question_dict in tour_dict.questions.items %}
						{% if question_dict.is_dropped %}
							<th class="secondary"></th>
						{% else %}
							<th class="easy{{ question_dict.question_data.percent_teams_taken_rounded }}">
								<abbr title="{{ question_dict.question_data.percent_teams_taken }}%">
									{{ question_dict.question_data.n_teams_taken }}
								</abbr>
							</th>
						{% endif %}
					{% endfor %}
					<th class="debated"></th>
					{% if forloop.last and not forloop.first %}
						<th class="danger"></th>
					{% elif not forloop.first %}
						<th class="danger"></th>
					{% endif %}
				{% endfor %}
			</tr>
			<tr class="text-center">
				<th colspan="7"></th>
				<th class="danger">Σ</th>
				{% for tour_dict in tours %}
					{% for number, question_dict in tour_dict.questions.items %}
						<th class="no-sort nobr">
							{% if question_dict.question_text.text %}
								<abbr title="{{ question_dict.question_text.text }}">
									{% if number < 10 %}&#8201;{{ number }}&#8201;{% else %}{{ number }}{% endif %}
								</abbr>
							{% else %}
								{% if number < 10 %}&#8201;{{ number }}&#8201;{% else %}{{ number }}{% endif %}
							{% endif %}
						</th>
					{% endfor %}
					<th class="debated">Тур {{ forloop.counter }}</th>
					{% if forloop.last and not forloop.first %}
						<th class="danger">Σ</th>
					{% elif not forloop.first %}
						<th class="danger">За {{ forloop.counter }}</th>
					{% endif %}
				{% endfor %}
			</tr>
		</tfoot>
		<tbody>
			{% for team_data in teams %}
				<tr class="text-center">
					<td></td>
					<td class="text-left nobr"><a href="http://rating.chgk.info/team/{{ team_data.team.id }}" target="_blank">{{ team_data.team.name }}</a></td>
					<td class="text-right">{{ team_data.team_on_tournament.tech_rating }}</td>
					<td class="text-right">{{ team_data.team_on_tournament.print_predicted_position|safe }}</td>
					<td class="text-right">{{ team_data.team_on_tournament.print_position|safe }}</td>
					<td class="text-right">{{ team_data.team_on_tournament.bonus_b }}</td>
					<td class="text-right">{{ team_data.team_on_tournament.print_diff_bonus_with_brackets|default:''|safe }}</td>
					<td class="danger">{{ team_data.n_questions_taken }}</td>
					{% for tour in team_data.tours %}
						{% for question in tour.score %}
							<td class="{{ question.class }}">{{ question.symbol|safe }}</td>
						{% endfor %}
						<td class="debated">{{ tour.score_by_tour }}</td>
						{% if not forloop.first %}
							<td class="danger">{{ tour.score_from_start }}</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<script type="text/javascript">
	t1 = $('#results_by_team').DataTable({
		paging:		false,
		info:		false,
		searching:	false,
		order:		[[ 7, "desc" ]],
		columnDefs: [ {
			"orderable" : false,
			"targets" : [ "no-sort" ]
			}
{% if hide_columns %}
			, { "visible": false, "targets": [2, 3, 4, 5, 6] }
{% endif %}
		],
		scrollX:	true,
		fixedColumns:   {
			 leftColumns: 2
		}
	});
	t1.on( 'order.dt search.dt', function () {
		t1.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
			cell.innerHTML = i+1;
		} );
	} ).draw();
	var cols_visible = {{ hide_columns|yesno:"false,true" }};
	function switch_cols() {
		cols_visible = !cols_visible;
		t1.columns([2, 3, 4, 5, 6]).visible(cols_visible, false);
		t1.columns.adjust().draw(false);
	}
	</script>
	<br/>
{% endif %}
<p style="color: #fff;">Время создания: {{ time_generated|date:"Y-m-d G:i:s" }}</p>
{% endblock %}