{% extends 'comparing/base.html' %}
{% block main %}
<h2 align="center">
	Команды на турнире «{{ tournament.name }}» ({{ tournament.get_dates|safe }})
</h2>
<p align="center">
	У нас: <a href="{{ tournament.get_questions_table_url }}">полная повопросная таблица</a>
	{% if is_logged_in %}
		&nbsp;&nbsp;&nbsp;<a href="{{ tournament.get_update_url }}"><button class="btn-submit">Обновить информацию о взятиях</button></a>
	{% endif %}
</p>
<p align="center">
	На сайте рейтинга:
	<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}">страница турнира</a>,
	<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}/tours/">повопросная таблица</a>,
	<a target="_blank" href="http://rating.chgk.info/tournament/{{ tournament.id }}/controversials/">спорные ответы</a>
</p>
{% if data %}
	{% if no_results_recent_tournament %}
		<h4>К сожалению, повопросных результатов у нас пока нет. Как только появятся на сайте рейтинга — в ближайшую полночь появятся и у нас.</h4>
	{% elif no_results_old_tournament %}
		<h4>К сожалению, повопросных результатов у нас и на сайте рейтинга сейчас нет. Появятся ли когда — не знаем.</h4>
	{% else %}
		<form action="{{ tournament.get_compare_teams_url }}" method="POST">
			{% csrf_token %}
			<table border="0" cellpadding="0" cellspacing="20">
			{% if dict_venue %}
				<tr><td>
						<a href="#" onclick="check_chkboxes($('#id_venue').val()); return false;" class="dash-underlined">Поставить галочки</a> всем командам на площадке
					</td>
					<td>
						<select name="venue" id="id_venue" style="width: 400px;">
							<option value="">(всего площадок: {{ dict_venue|length }})</option>
							{% for id, venue in dict_venue.items %}
								<option value="venue{{ id }}">{{ venue.name }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			{% endif %}
			{% if dict_city %}
				<tr><td>
						<a href="#" onclick="check_chkboxes($('#id_city').val()); return false;" class="dash-underlined">Поставить галочки</a> всем командам из города
					</td>
					<td>
						<select name="city" id="id_city" style="width: 400px;">
							<option value="">(всего городов: {{ dict_city|length }})</option>
							{% for id, city in dict_city.items %}
								<option value="city{{ id }}">{{ city.name }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			{% endif %}
			{% if dict_region %}
				<tr><td>
						<a href="#" onclick="check_chkboxes($('#id_region').val()); return false;" class="dash-underlined">Поставить галочки</a> всем командам из региона
					</td>
					<td>
						<select name="region" id="id_region" style="width: 400px;">
							<option value="">(всего регионов: {{ dict_region|length }})</option>
							{% for id, region in dict_region.items %}
								<option value="region{{ id }}">{{ region.name }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			{% endif %}
			{% if dict_district %}
				<tr><td>
						<a href="#" onclick="check_chkboxes($('#id_district').val()); return false;" class="dash-underlined">Поставить галочки</a> всем командам из фед. округа
					</td>
					<td>
						<select name="district" id="id_district" style="width: 400px;">
							<option value="">(всего федеральных округов: {{ dict_district|length }})</option>
							{% for id, district in dict_district.items %}
								<option value="district{{ id }}">{{ district.name }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			{% endif %}
			{% if dict_country %}
				<tr><td>
						<a href="#" onclick="check_chkboxes($('#id_country').val()); return false;" class="dash-underlined">Поставить галочки</a> всем командам из страны
					</td>
					<td>
						<select name="country" id="id_country" style="width: 400px;">
							<option value="">(всего стран: {{ dict_country|length }})</option>
							{% for id, country in dict_country.items %}
								<option value="country{{ id }}">{{ country.name }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			{% endif %}
				<tr><td>
						<a href="#" onclick="uncheck_chkboxes(); return false;" class="dash-underlined">Снять все галочки</a>
					</td>
					<td>
						<input type="submit" name="compareTeams" value="Сравнить отмеченные 0 команд" class="btnCompare btn-submit" disabled/>
						&nbsp;&nbsp;&nbsp;&nbsp;(от двух до сорока)
					</td>
				</tr>
			</table>
	{% endif %}
	<table id="teams_by_tournament" class="display" cellspacing="0" width="100%">
		<thead>
			<tr class="text-center debated">
				{% if tournament_has_questions_data %}
					<th class="min-width">Выбрать?</th>
				{% endif %}
				<th class="min-width">Место</th>
				<th class="text-left">Название</th>
				<th class="text-left">Город</th>
				<th class="text-left">Регион</th>
				<th class="text-left">Страна</th>
				{% if show_venues %}
					<th class="text-left">Площадка</th>
				{% endif %}
				<th class="min-width">Рейтинг</th>
				<th class="min-width">Предсказ. место</th>
				<th class="min-width">Занятое место</th>
				<th class="min-width">Взято вопросов</th>
				<th class="min-width">Бонус</th>
				<th class="min-width">Прибавка<br/>в&nbsp;рейтинг</th>
			</tr>
		</thead>
		<tbody>
			{% for tt, chkbox_class in data %}{% with team=tt.team %}
				<tr class="text-center">
					{% if tournament_has_questions_data %}
						<td class="min-width" data-order="1">
							<input type="checkbox" name="team_{{ team.id }}" class="chkbox {{ chkbox_class }}">
						</td>
					{% endif %}
					<td class="min-width">{{ tt.print_position|safe }}</td>
					<td class="text-left"><a href="{{ team.get_rating_url }}" target="_blank">{{ tt.current_name }}</a></td>
					<td class="text-left">{{ team.city.name|default:'' }}</td>
					<td class="text-left">{{ team.city.region.name|default:'' }}</td>
					<td class="text-left">{{ team.city.country.name|default:'' }}</td>
					{% if show_venues %}
						<td class="text-left">
							{% if tt.venue %}
								<a href="{{ tt.venue.get_rating_url }}" target="_blank">{{ tt.venue.name|default:'' }}</a>
							{% endif %}
						</td>
					{% endif %}
					<td class="min-width">{{ tt.tech_rating_rg|default:'' }}</td>
					<td class="min-width">{{ tt.print_predicted_position|safe }}</td>
					<td class="min-width">{{ tt.print_position|safe }}</td>
					<td class="min-width">{% if tournament_has_questions_data %}{{ tt.n_questions_taken }}{% endif %}</td>
					<td class="min-width">{{ tt.bonus_b|default:'' }}</td>
					<td class="min-width">{{ tt.print_diff_bonus_with_brackets|default:''|safe }}</td>
				</tr>
			{% endwith %}{% endfor %}
		</tbody>
	</table>
	{% if tournament_has_questions_data %}
			<br/>
			<input type="submit" name="compareTeams" value="Сравнить отмеченные 0 команд" class="btnCompare btn-submit" disabled/>
		</form>
	{% endif %}
	<script type="text/javascript">
		var teams_table = $('#teams_by_tournament').DataTable({
			"paging": false,
			"info": false,
			"searching": false,
			"order": [[ {% if tournament_has_questions_data %}1{% else %}0{% endif %}, "asc" ]],
			"columnDefs": [
				{
					"orderable" : false,
					"targets" : [ "no-sort" ]
				}
			],
		});
		{% if tournament_has_questions_data %}
			function update_n_checkboxes() {
				n_checkboxes = $('.chkbox:checked').length;
				$('.btnCompare').val('Сравнить отмеченные ' + n_checkboxes + ' команд' + get_plural_ending(n_checkboxes));
				$('.btnCompare').prop("disabled", (n_checkboxes < 2) || (n_checkboxes > {{ MAX_TEAMS_TO_COMPARE }})) ;
			}
			function update_chkbox(box) {
				cur_cell = box.parent();
				cur_cell.attr('data-order', box.prop('checked') ? 0 : 1);
				teams_table.cell(cur_cell).invalidate();
			}
			function check_chkboxes(cls) {
				// alert('cls: ' + cls);
				if (cls) {
					$('.' + cls).each(function(i) {
						box = $(this);
						if (!box.prop('checked')) {
							box.prop('checked', true);
							update_chkbox(box);
						}
					})
					update_n_checkboxes();
				}
			}
			function uncheck_chkboxes() {
				$('.chkbox').prop('checked', false);
				update_n_checkboxes();
			}
			$('.chkbox').click(function(e) {
				update_chkbox($(this));
				update_n_checkboxes();
			});
			$('#id_venue').select2();
			$('#id_city').select2();
			$('#id_region').select2();
			$('#id_district').select2();
			$('#id_country').select2();
		{% endif %}
	</script>
{% else %}
	<br/><br/>
	<p align="center">К сожалению, повопросных результатов у нас пока нет. Как только появятся на сайте рейтинга — в ближайшую полночь появятся и у нас.</p>
{% endif %}
<p style="color: #fff;">Время создания: {{ time_generated|date:"Y-m-d G:i:s" }}</p>
{% endblock %}