{% extends 'comparing/base.html' %}
{% load static %}
{% load comparing_extras %}
{% block main %}
<h2 class="text-center">
	Немного статистики про площадку <a href="{{ venue.get_rating_url }}" target="_blank">{{ venue.name }}</a>
	{% if venue.city %}({{ venue.city }}){% endif %}
</h2>
{% if players %}
	<h4>Кто сыграл сколько рейтинговых игр в 2019 году</h4>
	<table class="display simple-data-table">
		<thead>
			<tr class="debated">
				<th>№</th>
				<th>Имя</th>
				<th>Зачётных игр</th>
			</tr>
		</thead>
		<tbody>
			{% for player, n_games in players %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td><a href="{{ player.get_rating_url }}">{{ player.name }} {{ player.surname }}</a></td>
					<td>{{ n_games }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
<h4>На площадке прошло {{ games|length }} игр{{ games|length|ending:19 }}.</h4>
<table border="0" width="100%" class="table_regular">
	<thead>
		<tr class="debated">
			<th>№</th>
			<th>ID заявки</th>
			<th>Даты</th>
			<th>Турнир</th>
			<th>Команд</th>
			<th>Людей</th>
		</tr>
	</thead>
	<tbody>
		{% for tournament, data in games %}
			<tr>
				<td>{% if tournament.id in large_game_ids %}
						<strong>{{ forloop.counter }}</strong>
					{% else %}
						{{ forloop.counter }}
					{% endif %}
				</td>
				<td>{{ data.synch_request_ids }}</td>
				<td data-order="{{ tournament.date_end|date:'Ymd' }}">{{ tournament.get_dates|safe }}</td>
				<td><a href="{{ tournament.get_absolute_url }}">{{ tournament.name }}</a></td>
				<td>{{ data.n_teams }}</td>
				<td>{{ data.n_players }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
	$('.table_regular').DataTable({
		"paging":	false,
		"info":	  false,
		"searching": false,
	});
</script>
{% endblock %}