{% extends 'comparing/base.html' %}
{% load static %}
{% block main %}
<h2 align="center">{{ page_title }}</h2>

<img src="{% static 'images/vosen/vosen2-nose.png' %}" align="right" width="400" />
<h4>Товарищи по увлечению!</h4>

<p>Приглашаем вас принять участие в благотворительном турнире «Адыходзячая Восень» в поддержку населения Беларуси. Все вырученные от турнира средства (кроме технических затрат на проведение) мы переведём в фонды поддержки народа Беларуси. (По итогам недавнего турнира «Восень Патрыярха» мы перевели различным фондам почти US$3000; подробнее — на <a href="/vosen">его странице</a>.)</p>

<p>Авторы 36 вопросов турнира — Михаил Басс, Алексей Богословский, Владислав Быков, Ольга Деркач, Павел Ершов, Александр Коробейников, Борис Моносов, Антон Саксонов и другие друзья Нью-Йоркского клуба интеллектуальных игр; возможны и дополнительные вопросы-подарки и сюрпризы. Редколлегия — Александр Губин
(топ-редактор), Игорь Койфман и Михаил Розенблюм. Мы постарались, чтобы интересно играть было всем (сложность — 4-5 по шкале сайта рейтинга). Турнир нетематический.</p>

<p>Сыграть можно будет как на очных площадках, так и онлайн; зачёт будет общий (всё равно пока не в рейтинг). Заявить площадку (живую или виртуальную) вы можете на странице <a href="https://rating.chgk.info/tournament/6840">https://rating.chgk.info/tournament/6840</a>; организатору нужно будет собрать взносы участников и перевести нам любым из способов, перечисленных ниже.</p>

<p>Если вы играете на площадках Ивана Тетерева или Натальи Трайдук, то ваш взнос в полном объёме уйдёт в Беларусь. Пожалуйста, оплатите его любым из указанных ниже способов и заполните форму на этой странице. (Если вы — организатор площадки, и тоже решили провести отыгрыш бесплатно, спасибо вам! Напишите на <a href="mailto:alexey.chernov@gmail.com">alexey.chernov@gmail.com</a>, и мы добавим вас в этот список.) Стоимость участия в турнире — 600 рублей (8 долларов, 7 евро) с команды или любую сумму больше на ваше усмотрение — нужно перевести до начала вашей игры. Для команд из Беларуси или школьных команд — любая сумма не меньше ноля.</p>

<p>Если вы играете на других площадках, то переводите деньги, как вам скажет площадка — либо нам по этим реквизитам, либо площадке, а организатор площадки уж переведёт нам.</p>

{% if 0 %}
<p>Мы планируем перевести половину собранной суммы в <a href="https://www.paypal.com/pools/c/8sonQvgcqM">Фонд помощи репрессированным журналистам</a>, половину — в фонд <a href="https://www.bysol.org/">BYSOL</a>. Члены оргкомитета уже работали напрямую с этими фондами и полностью им доверяют. В случае, если возникнут проблемы с переводом денег в какой-то из них, мы напишем сюда, куда переведём деньги вместо этого.</p>
{% endif %}
<p>Мы определимся с фондами, в которые будем переводить деньги, в январе — до этого ещё много воды утечёт — и напишем сюда все подробности.</p>

<p>Зовите друзей и одноклубников! Давайте поможем дружественной стране собственным умом. Хорошей игры!</p>

<h4>New: куда мы перевели деньги</h4>

<p>Всего мы собрали 1117 долларов. Большое спасибо всем приложившим руку! <a href="https://docs.google.com/spreadsheets/d/1b9o0pONaI06onQGB-MMS9FNVEjDXZ690OZOJdHWwes0">Список поступивших нам платежей (обезличенный)</a></p>

<p>Все эти деньги мы перевели в сообщество <a href="https://www.facebook.com/BYhelpBY/">https://www.facebook.com/BYhelpBY/</a>.</p>

<p><a href="https://rating.chgk.info/tournament/6840">Результаты турнира</a> (всего в нём приняли участие 98 команд).</p>

<!-- <h4>Известные нам отыгрыши</h4>
<ul>
	<li>11 января (пн), 20:00 в Москве, 12:00 в Нью-Йорке, 9:00 в Калифорнии — площадка Нью-Йоркского клуба — регистрируйтесь в форме ниже.</li>
	<li>12 января (вт), 21:30 в Москве, 13:30 в Нью-Йорке, 10:30 в Калифорнии — <a href="https://cutt.ly/KhVIP_online?fbclid=IwAR3KeQAZ4hby6WoxFYt48fDhAMMNE-NG4u-buOuh_-SwfT3y9vhMRVeJ7co">площадка Ивана Тетерева;</a></li>
	<li>14 января (чт), 19:00 в Москве, 11:00 в Нью-Йорке, 8:00 в Калифорнии — <a href="http://bit.do/sinhron?fbclid=IwAR30VaAjBtv2xIgONC6nTF0AZDX1J6EBlTnxuqflLe_5yazzdQnZacOgXCQ">площадка Дениса Гончара.</a></li>
</ul>

 Пока нету.

<h4>Способы оплаты, если платите нам напрямую</h4>

<ul>
	<li>На карту Сбербанка по номеру телефона +7-910-450-83-04</li>
	<li>На счёт на платформе Яндекс.Деньги, они же Ю.Money 4100184455826</li>
	<li>Перевод на Яндекс.Деньги с любой банковской карты (есть комиссия, так что этот вариант хуже) <a href="https://money.yandex.ru/to/4100184455826">https://money.yandex.ru/to/4100184455826</a></li>
	<li>Paypal chernov@probeg.org</li>
	<li>Venmo Alexey_Chernov</li>
	<li>Zelle alexey.chernov@gmail.com</li>
	<li>Ни один способ не подходит? Напишите нам на <a href="mailto:alexey.chernov@gmail.com">alexey.chernov@gmail.com</a>, и мы найдём удобный способ.</li>
</ul>

<h4>Пожалуйста, заполните эту форму после оплаты</h4>

<div style="text-align: center;">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdsa7uCzIFhSQcUePF2V3h818-BhNiei9nZIroK4sJHNd7V6A/viewform?embedded=true" width="1000" height="2000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
<p>Хорошей игры!</p>
 -->
{% endblock %}