{% extends 'comparing/base.html' %}
{% block main %}
<h2 align="center">Благотворительный турнир «Восень патрыярха»</h2>

<h4>Товарищи по увлечению!</h4>

<p>Нью-Йоркский клуб интеллектуальных игр приглашает всех вас принять участие в благотворительном турнире «Восень патрыярха» в поддержку населения Беларуси, борющегося против диктатуры. Все вырученные от турнира средства мы переведём в фонды поддержки народа Беларуси. <a href="https://ru-chgk.livejournal.com/3436915.html">Подробнее о турнире</a></p>

<p>Если вы играете на площадках «Большой игры», Нью-Йоркского клуба, Дениса Гончара, Ивана Тетерева, Натальи Трайдук, пожалуйста, оплатите участие любым из способов, указанных ниже, и заполните форму. Если ни один из этих способов вам не подходит — ничего страшного! Напишите нам на <a href="mailto:alexey.chernov@gmail.com">alexey.chernov@gmail.com</a>, и мы найдём удобный способ.</p>

<h4>Стоимость участия в благотворительном турнире</h4>

<p>Любая сумма не меньше 600 рублей, или $8, или 7 евро с команды.
<br/>Для команд из Беларуси или школьных команд — любая сумма не меньше ноля.
<br/>Если вы играете на перечисленных выше площадках, то ваш взнос полностью пойдёт в благотворительные фонды.
<br/>(Если вы — представитель другой площадки, и для вашей площадки это тоже верно, напишите нам, и мы добавим вас в список.)</p>

<h4>Куда мы перечислим собранные средства</h4>

<p>Мы планируем перевести половину суммы в <a href="https://www.paypal.com/pools/c/8sonQvgcqM">Фонд помощи репрессированным журналистам</a>, половину — в <a href="https://imenamag.by/">фонд «Имена»</a>, поддерживающий сразу несколько хороших социальных проектов.
<br/>Члены оргкомитета уже работали напрямую с этими фондами и полностью им доверяют.</p>
<p>В случае, если возникнут проблемы с переводом денег в какой-то из них, мы напишем сюда, куда переведём деньги вместо этого.</p>

<h4>New: куда мы перевели деньги</h4>

<p>Всего мы собрали $2820. <a href="https://docs.google.com/spreadsheets/d/1aNt1v12r2eEJuWi84XLjsaH8OJ0KAy31FgheWgmnjoE/edit#gid=0">Список поступивших нам платежей (обезличенный)</a></p>

<p>$1500.32 мы перевели в <a href="https://www.paypal.com/pools/c/8sonQvgcqM">Фонд помощи репрессированным журналистам</a>.
	<br/>
	$1319.62 — в <a href="https://imenamag.by/">фонд «Имена»</a>, поддерживающий сразу несколько хороших социальных проектов.
</p>

{% if 0 %}
<h4>Способы оплаты</h4>

<ul>
	<li>На карту Сбербанка по номеру телефона +7-910-450-83-04</li>
	<li>На счёт на платформе Яндекс.Деньги 4100184455826</li>
	<li>Перевод на Яндекс.Деньги с любой банковской карты (есть комиссия, так что этот вариант хуже) <a href="https://money.yandex.ru/to/4100184455826">https://money.yandex.ru/to/4100184455826</a></li>
	<li>Paypal chernov@probeg.org</li>
	<li>Venmo Alexey_Chernov</li>
	<li>Zelle alexey.chernov@gmail.com</li>
	<li>Ни один способ не подходит? Напишите нам на <a href="mailto:alexey.chernov@gmail.com">alexey.chernov@gmail.com</a>, и мы найдём удобный способ.</li>
</ul>
{% endif %}

<h4>Как заявить свою площадку</h4>

На странице турнира на сайте рейтинга <a href="https://rating.chgk.info/tournament/6740">https://rating.chgk.info/tournament/6740</a> — хоть «живую», хоть онлайн-площадку.

<h4>Как будут проходить игры на Нью-Йоркской площадке</h4>

<p>Ведущий будет читать и показывать текст вопросов через платформу Zoom (в видеовстречу смогут зайти все члены команды). Сдавать ответы капитаны будут через чат Zoom или, если число команд будет большим, через гугл-формы.</p>

{% if 0 %}
<h4>Пожалуйста, заполните эту форму после оплаты</h4>

<div style="text-align: center;">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdsa7uCzIFhSQcUePF2V3h818-BhNiei9nZIroK4sJHNd7V6A/viewform?embedded=true" width="1000" height="2000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
{% endif %}

<p>Хорошей игры!</p>
{% endblock %}