{% load static %}
{% load comparing_extras %}
<h1 class="text-center">Странная статистика</h1>
По состоянию на {{ today|safe }}. Всё, что представлено ниже, посчитано только по учитывающимся в рейтинге турнирам, закончившимся не позже {{ last_date_end|safe }} — чтобы результаты можно было считать окончательными.

<h2>1. Все случаи, когда команда брала все вопросы турнира («брала тотал»)</h2>
<table id="table-totals" class="display simple-data-table">
	<thead>
		<tr class="text-center debated">
			<th>№</th>
			<th class="text-right">Дата</th>
			<th class="text-left">Команда</th>
			<th class="text-left">Состав</th>
			<th class="text-left">Турнир</th>
			<th>Число участников</th>
		</tr>
	</thead>
	<tbody>
		{% for t_t, players in totals %}{% with team=t_t.team tournament=t_t.tournament %}
			<tr>
				<td class="text-center">{{ forloop.counter }}</td>
				<td class="text-right">{{ tournament.get_dates|safe }}</td>
				<td class="text-left">
					<a href="{{ team.get_absolute_url }}">{{ team.name }}</a>
					<br/>
					({{ team.city_name }})
				</td>
				<td>{% for p_t in players %}{% with player=p_t.player %}
						{% if not forloop.first %}<br/>{% endif %}
						<a href="{{ player.get_rating_url }}">{{ player.get_name }}</a>
					{% endwith %}{% endfor %}
				</td>
				<td><a href="{{ tournament.get_absolute_url }}">{{ tournament.name }}</a>
					<br/>
					({{ tournament.type_name }}, {{ tournament.questions_total }} вопрос{{ tournament.questions_total|ending:1 }}{% if tournament.questions_dropped %}, {{ tournament.questions_dropped }} снято{% endif %})
				</td>
				<td class="text-center">{{ tournament.n_teams_participated }}</td>
			</tr>
		{% endwith %}{% endfor %}
	</tbody>
</table>

<br/><br/>
<h2>2. Самый массовый турнир с гробом</h2>
Тексты вопросов я поленился искать. Кто найдёт, присылайте ссылку на обсудение в ЖЖ, добавлю.
<table id="table-team-saved" class="display simple-data-table">
	<thead>
		<tr class="text-center debated">
			<th>№</th>
			<th class="text-right">Дата</th>
			<th class="text-left">Турнир</th>
			<th>Число участников</th>
			<th>Текст вопроса</th>
			<th>Ссылка на обсуждение</th>
		</tr>
	</thead>
	<tbody>
		{% for question, question_text in coffins %}{% with tournament=question.tournament %}
			<tr>
				<td class="text-center">{{ forloop.counter }}</td>
				<td class="text-right nobr">{{ tournament.get_dates|safe }}</td>
				<td class="nobr"><a href="{{ tournament.get_absolute_url }}">{{ tournament.name }}</a>
					<br/>
					({{ tournament.type_name }}, {{ tournament.questions_total }} вопрос{{ tournament.questions_total|ending:1 }})
				</td>
				<td class="text-center">{{ tournament.n_teams_participated }}</td>
				<td>{{ question.number }}. {{ question_text.text|linebreaks }}</td>
				<td class="text-center">{% if question_text.lj_link %}
						<a href="{{ question_text.lj_link }}"><img src="{% static 'images/lj16.png' %}" class="lj-link" title="Ссылка на обсуждение в ЖЖ"></a>
					{% endif %}
				</td>
			</tr>
		{% endwith %}{% endfor %}
	</tbody>
</table>

<br/><br/>
<h2>3. Самые массовые турниры с вопросом, который взяла одна команда</h2>
<table id="table-team-saved" class="display simple-data-table">
	<thead>
		<tr class="text-center debated">
			<th>№</th>
			<th class="text-right">Дата</th>
			<th class="text-left">Команда, спасшая вопрос</th>
			<th class="text-left">Состав</th>
			<th class="text-left">Турнир</th>
			<th>Число участников</th>
			<th>Текст вопроса</th>
			<th>Ссылка на обсуждение</th>
		</tr>
	</thead>
	<tbody>
		{% for t_t, players, question_number, question_text in saved_by_one_team %}{% with team=t_t.team tournament=t_t.tournament %}
			<tr>
				<td class="text-center">{{ forloop.counter }}</td>
				<td class="text-right nobr">{{ tournament.get_dates|safe }}</td>
				<td class="text-left">
					<a href="{{ team.get_absolute_url }}">{{ team.name }}</a>
					<br/>
					({{ team.city_name }})
				</td>
				<td class="nobr">{% for p_t in players %}{% with player=p_t.player %}
						{% if not forloop.first %}<br/>{% endif %}
						<a href="{{ player.get_rating_url }}">{{ player.get_name }}</a>
					{% endwith %}{% endfor %}
				</td>
				<td class="nobr"><a href="{{ tournament.get_absolute_url }}">{{ tournament.name }}</a>
					<br/>
					({{ tournament.type_name }}, {{ tournament.questions_total }} вопрос{{ tournament.questions_total|ending:1 }})
				</td>
				<td class="text-center">{{ tournament.n_teams_participated }}</td>
				<td>{{ question_number }}. {{ question_text.text|linebreaks }}</td>
				<td class="text-center">{% if question_text.lj_link %}
						<a href="{{ question_text.lj_link }}"><img src="{% static 'images/lj16.png' %}" class="lj-link" title="Ссылка на обсуждение в ЖЖ"></a>
					{% endif %}
				</td>
			</tr>
		{% endwith %}{% endfor %}
	</tbody>
</table>

<br/><br/>
<h2>4. Рекорды команд. Учитываются только игры составами, преемственными к базовому</h2>
{% for data in teams_records_data %}
	<br/><br/>
	<h3>{{ data.segment_name|safe }}</h3>
	<table id="table-team-records-{{ forloop.counter0 }}" class="display simple-data-table">
		<thead>
			<tr>
				<th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
			</tr>
			<tr class="text-center debated">
				<th>№</th>
				<th colspan="2">По числу игр</th>
				<th colspan="2">По числу сыгранных вопросов</th>
				<th colspan="2">По числу взятых вопросов</th>
				<th colspan="2">По проценту взятых вопросов</th>
				<th colspan="2">Среди сыгравших хотя бы {{ data.min_games }} вопросов</th>
			</tr>
		</thead>
		<tbody>
			{% for line in data.lines %}
				<tr>
					<td class="text-center">{{ forloop.counter }}</td>
					<td class="text-left">
						<a href="{{ line.most_games.0.get_absolute_url }}">{{ line.most_games.0.name }}</a>
						<br/>
						({{ line.most_games.0.city_name }})
					</td>
					<td class="text-center">{{ line.most_games.1 }}</td>
					<td class="text-left">
						<a href="{{ line.most_questions_played.0.get_absolute_url }}">{{ line.most_questions_played.0.name }}</a>
						<br/>
						({{ line.most_questions_played.0.city_name }})
					</td>
					<td class="text-center">{{ line.most_questions_played.1 }}</td>
					<td class="text-left">
						<a href="{{ line.most_questions_taken.0.get_absolute_url }}">{{ line.most_questions_taken.0.name }}</a>
						<br/>
						({{ line.most_questions_taken.0.city_name }})
					</td>
					<td class="text-center">{{ line.most_questions_taken.1 }}</td>
					<td class="text-left">
						<a href="{{ line.most_questions_percent.0.get_absolute_url }}">{{ line.most_questions_percent.0.name }}</a>
						<br/>
						({{ line.most_questions_percent.0.city_name }})
					</td>
					<td class="text-center">
						{{ line.most_questions_percent.3|floatformat:1 }} %
						<br/>
						({{ line.most_questions_percent.1 }} из {{ line.most_questions_percent.2 }})
					</td>
					<td class="text-left">
						<a href="{{ line.most_questions_percent_2.0.get_absolute_url }}">{{ line.most_questions_percent_2.0.name }}</a>
						<br/>
						({{ line.most_questions_percent_2.0.city_name }})
					</td>
					<td class="text-center">
						{{ line.most_questions_percent_2.3|floatformat:1 }} %
						<br/>
						({{ line.most_questions_percent_2.1 }} из {{ line.most_questions_percent_2.2 }})
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endfor %}

<br/><br/>
<h2>5. Самые крупные очные турниры</h2>
<table id="table-team-saved" class="display simple-data-table">
	<thead>
		<tr class="text-center debated">
			<th>№</th>
			<th class="text-right">Даты</th>
			<th class="text-left">Название</th>
			<th class="text-left">Город</th>
			<th class="text-center">Команд<br/>заявлено</th>
			<th class="text-center">Команд<br/>с результатами</th>
			<th class="text-center">Вопросов</th>
		</tr>
	</thead>
	<tbody>
		{% for tournament in largest_offline_tournaments %}
			<tr>
				<td class="text-center">{{ forloop.counter }}</td>
				<td class="text-right nobr">{{ tournament.get_dates|safe }}</td>
				<td class="nobr"><a href="{{ tournament.get_absolute_url }}">{{ tournament.name }}</a>
				<td class="nobr">{{ tournament.city.name }}</td>
				<td class="text-center">{{ tournament.n_teams_participated }}</td>
				<td class="text-center">{{ tournament.n_teams_with_results }}</td>
				<td class="text-center">{{ tournament.questions_total|default:'(неизвестно)' }}
					{% if tournament.questions_dropped %}
						<br/>({{ tournament.questions_dropped }} снято)
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<br/><br/>
<h2>6. Самые крупные рейтинговые синхронные турниры (с <150 вопросами)</h2>
<table id="table-team-saved" class="display simple-data-table">
	<thead>
		<tr class="text-center debated">
			<th>№</th>
			<th class="text-right">Даты</th>
			<th class="text-left">Название</th>
			<th class="text-center">Команд<br/>заявлено</th>
			<th class="text-center">Команд<br/>с результатами</th>
			<th class="text-center">Вопросов</th>
		</tr>
	</thead>
	<tbody>
		{% for tournament in largest_synchrons %}
			<tr>
				<td class="text-center">{{ forloop.counter }}</td>
				<td class="text-right nobr">{{ tournament.get_dates|safe }}</td>
				<td class="nobr"><a href="{{ tournament.get_absolute_url }}">{{ tournament.name }}</a>
				<td class="text-center">{{ tournament.n_teams_participated }}</td>
				<td class="text-center">{{ tournament.n_teams_with_results }}</td>
				<td class="text-center">{{ tournament.questions_total|default:'(неизвестно)' }}
					{% if tournament.questions_dropped %}
						<br/>({{ tournament.questions_dropped }} снято)
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<br/><br/>
<h2>7. Самые крупные площадки отыгрышей синхронных турниров</h2>
<table id="table-team-saved" class="display simple-data-table">
	<thead>
		<tr class="text-center debated">
			<th>№</th>
			<th class="text-right">Даты</th>
			<th class="text-left">Название</th>
			<th class="text-left">Площадка</th>
			<th class="text-left">Город</th>
			<th class="text-center">Команд</th>
			<th class="text-center">Вопросов</th>
		</tr>
	</thead>
	<tbody>
		{% for tournament, venue, n_teams in largest_venues %}
			<tr>
				<td class="text-center">{{ forloop.counter }}</td>
				<td class="text-right nobr">{{ tournament.get_dates|safe }}</td>
				<td class="nobr"><a href="{{ tournament.get_absolute_url }}">{{ tournament.name }}</a>
				<td class="nobr"><a href="{{ venue.get_rating_url }}">{{ venue.name }}</a></td>
				<td class="nobr">{{ venue.city.name }}</td>
				<td class="text-center">{{ n_teams }}</td>
				<td class="text-center">{{ tournament.questions_total|default:'(неизвестно)' }}
					{% if tournament.questions_dropped %}
						<br/>({{ tournament.questions_dropped }} снято)
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<p>TODO:</p>

<p>Игроки, взявшие больше всего вопросов</p>
<p>Игроки с наилучшим процентом взятия</p>
<p>Игроки, сыгравшие больше всего очных турниров; турниров; вопросов</p>
<p>Кто играл больше всего раз, но только когда играл и другой игрок</p>
<p>Какие два игрока играли больше всего раз, но только вместе</p>
<p>Какая команда играла больше всего раз, а игроков не больше шести</p>
<p>Какая команда никогда не играла без конкретного человека</p>
<p>Команды с максимумом игр, никогда не встречавшиеся [на очных турнирах]</p>

<p>Какие ещё есть идеи, и кто хочет помочь с этим всем — пишите!</p>