

<h1 class="text-center">Странная статистика</h1>
По состоянию на 4&nbsp;марта 2020. Всё, что представлено ниже, посчитано только по учитывающимся в рейтинге турнирам, закончившимся не позже 3&nbsp;февраля 2020 — чтобы результаты можно было считать окончательными.

<h2>1. Все случаи, когда команда брала все вопросы турнира («брала тотал»)</h2>
<table id="table-totals" class="display simple-data-table">
	<thead>
		<tr class="text-center debated">
			<th>№</th>
			<th class="text-right">Дата</th>
			<th class="text-left">Команда</th>
			<th class="text-left">Состав</th>
			<th class="text-left">Турнир</th>
			<th>Число участников</th>
		</tr>
	</thead>
	<tbody>
		
			<tr>
				<td class="text-center">1</td>
				<td class="text-right">6–10&nbsp;марта 2015</td>
				<td class="text-left">
					<a href="/team/6198/">Gambler</a>
					<br/>
					(Москва)
				</td>
				<td>
						
						<a href="https://rating.chgk.info/player/3812">Болотский Михаил Николаевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/14756">Ковальчук Елена Станиславовна</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/16901">Кузнецов Гай Викторович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/30475">Степанов Владимир Владимирович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/32516">Уварова Мария Павловна</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/36898">Эдлин Леонид Михайлович</a>
					
				</td>
				<td><a href="/tournament/2913/">Балтийский берег. 4 игра</a>
					<br/>
					(Синхрон, 36 вопросов)
				</td>
				<td class="text-center">749</td>
			</tr>
		
			<tr>
				<td class="text-center">2</td>
				<td class="text-right">23–27&nbsp;декабря 2016</td>
				<td class="text-left">
					<a href="/team/49804/">Борский корабел</a>
					<br/>
					(Москва)
				</td>
				<td>
						
						<a href="https://rating.chgk.info/player/4270">Брутер Александра Владимировна</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/6482">Галачян Ким Гагикович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/13782">Кафиатуллин Тимур Рустемович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/27822">Савченков Михаил Владимирович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/28751">Семушин Иван Николаевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/30152">Сорожкин Артём Сергеевич</a>
					
				</td>
				<td><a href="/tournament/3946/">Синхрон-lite 5</a>
					<br/>
					(Синхрон, 36 вопросов, 2 снято)
				</td>
				<td class="text-center">273</td>
			</tr>
		
			<tr>
				<td class="text-center">3</td>
				<td class="text-right">24–28&nbsp;ноября 2017</td>
				<td class="text-left">
					<a href="/team/55837/">Объекты всемирного наследия Ионеско</a>
					<br/>
					(Москва)
				</td>
				<td>
						
						<a href="https://rating.chgk.info/player/4270">Брутер Александра Владимировна</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/27403">Руссо Максим Михайлович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/28751">Семушин Иван Николаевич</a>
					
				</td>
				<td><a href="/tournament/4543/">Синхрон кубка Хамовников</a>
					<br/>
					(Синхрон, 36 вопросов)
				</td>
				<td class="text-center">96</td>
			</tr>
		
			<tr>
				<td class="text-center">4</td>
				<td class="text-right">20–24&nbsp;июля 2018</td>
				<td class="text-left">
					<a href="/team/49804/">Борский корабел</a>
					<br/>
					(Москва)
				</td>
				<td>
						
						<a href="https://rating.chgk.info/player/4270">Брутер Александра Владимировна</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/27403">Руссо Максим Михайлович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/28751">Семушин Иван Николаевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/30152">Сорожкин Артём Сергеевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/30270">Спешков Сергей Леонидович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/34846">Чернин Антон Анатольевич</a>
					
				</td>
				<td><a href="/tournament/4922/">Синхрон-lite. Выпуск XVI</a>
					<br/>
					(Синхрон, 36 вопросов, 1 снято)
				</td>
				<td class="text-center">381</td>
			</tr>
		
			<tr>
				<td class="text-center">5</td>
				<td class="text-right">7–11&nbsp;сентября 2018</td>
				<td class="text-left">
					<a href="/team/1799/">Снова</a>
					<br/>
					(Новороссийск)
				</td>
				<td>
						
						<a href="https://rating.chgk.info/player/4515">Берг Дмитрий Юрьевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/16027">Костяная Евгения Андреевна</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/101697">Полывьянов Святослав Николаевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/26972">Родиков Сергей Валерьевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/53654">Сорокина Полина Аркадьевна</a>
					
				</td>
				<td><a href="/tournament/5139/">ПоЛЭТелИ с нами!</a>
					<br/>
					(Синхрон, 36 вопросов)
				</td>
				<td class="text-center">72</td>
			</tr>
		
			<tr>
				<td class="text-center">6</td>
				<td class="text-right">2–6&nbsp;ноября 2018</td>
				<td class="text-left">
					<a href="/team/55/">Мираж</a>
					<br/>
					(Самара)
				</td>
				<td>
						
						<a href="https://rating.chgk.info/player/4063">Борок Дмитрий Владимирович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/8777">Данелянц Анастасия Михайловна</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/10660">Ефимов Сергей Геннадиевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/27009">Рождествин Александр Олегович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/116628">Рождествина Елена Андреевна</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/27622">Рябых Николай Георгиевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/31355">Тахтаров Антон Константинович</a>
					
				</td>
				<td><a href="/tournament/4791/">Топ-1000</a>
					<br/>
					(Синхрон, 36 вопросов, 1 снято)
				</td>
				<td class="text-center">543</td>
			</tr>
		
			<tr>
				<td class="text-center">7</td>
				<td class="text-right">14–18&nbsp;июня 2019</td>
				<td class="text-left">
					<a href="/team/49804/">Борский корабел</a>
					<br/>
					(Москва)
				</td>
				<td>
						
						<a href="https://rating.chgk.info/player/4270">Брутер Александра Владимировна</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/27403">Руссо Максим Михайлович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/27822">Савченков Михаил Владимирович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/28751">Семушин Иван Николаевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/30152">Сорожкин Артём Сергеевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/30270">Спешков Сергей Леонидович</a>
					
				</td>
				<td><a href="/tournament/5401/">Триптих. Лето</a>
					<br/>
					(Синхрон, 36 вопросов, 1 снято)
				</td>
				<td class="text-center">242</td>
			</tr>
		
			<tr>
				<td class="text-center">8</td>
				<td class="text-right">14–19&nbsp;ноября 2019</td>
				<td class="text-left">
					<a href="/team/2283/">Розовый слон</a>
					<br/>
					(Нижний Новгород)
				</td>
				<td>
						
						<a href="https://rating.chgk.info/player/40452">Ошарин Иван Владимирович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/26859">Реутов Борис Владимирович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/33199">Филаткин Михаил Николаевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/44437">Царьков Илья Николаевич</a>
					
				</td>
				<td><a href="/tournament/5728/">Синхрон-lite. Выпуск XXIX</a>
					<br/>
					(Синхрон, 36 вопросов)
				</td>
				<td class="text-center">475</td>
			</tr>
		
	</tbody>
</table>

<br/><br/>
<h2>2. Самый массовый турнир с гробом</h2>
Тексты вопросов я поленился искать. Кто найдёт, присылайте ссылку на обсудение в ЖЖ, добавлю.
<table id="table-team-saved" class="display simple-data-table">
	<thead>
		<tr class="text-center debated">
			<th>№</th>
			<th class="text-right">Дата</th>
			<th class="text-left">Турнир</th>
			<th>Число участников</th>
			<th>Текст вопроса</th>
			<th>Ссылка на обсуждение</th>
		</tr>
	</thead>
	<tbody>
		
			<tr>
				<td class="text-center">1</td>
				<td class="text-right nobr">30&nbsp;января 2011</td>
				<td class="nobr"><a href="/tournament/1635/">Азовский бриз</a>
					<br/>
					(Синхрон, 48 вопросов)
				</td>
				<td class="text-center">699</td>
				<td>7. <p>Сырье для производства пиломатериалов. <br />    Пиломатериалы. <br />    Слово из названия знаменитой трилогии. <br />    Непарнокопытное, а также заменяющее его парнокопытное. <br />    В этом зашифрованном списке не хватает одного элемента. Назовите недостающий элемент либо русским словом, либо словом французского происхождения.</p></td>
				<td class="text-center">
				</td>
			</tr>
		
			<tr>
				<td class="text-center">2</td>
				<td class="text-right nobr">16–20&nbsp;января 2015</td>
				<td class="nobr"><a href="/tournament/3081/">Серия MASTERS. Синхрон Миротина/Лёгенького</a>
					<br/>
					(Синхрон, 45 вопросов)
				</td>
				<td class="text-center">311</td>
				<td>27. <p>Дуплет. <br />    1. В одной азиатской стране рассматривают возможность создать ЭТО — в том числе для пресечения незаконного перевода через границу с Бангладеш. Назовите ЭТО двумя словами. <br />    2. В другой азиатской стране ЭТО — неофициальное название корпорации, на сайте которой указана средняя цена — 160 долларов за квадратный метр. Назовите ЭТО двумя словами.</p></td>
				<td class="text-center">
				</td>
			</tr>
		
			<tr>
				<td class="text-center">3</td>
				<td class="text-right nobr">17–21&nbsp;ноября 2017</td>
				<td class="nobr"><a href="/tournament/4403/">Кубок Организаторов</a>
					<br/>
					(Синхрон, 36 вопросов)
				</td>
				<td class="text-center">270</td>
				<td>18. <p>Литературный критик Джон Клют пишет, что во второй половине XIX века среди американских читателей стали популярны произведения жанра буффонада, начало которому положил роман &quot;Паровой человек в прериях&quot;. Напишите в исходном виде слово из предыдущего предложения, в котором мы заменили четыре буквы.</p></td>
				<td class="text-center">
				</td>
			</tr>
		
			<tr>
				<td class="text-center">4</td>
				<td class="text-right nobr">22–26&nbsp;февраля 2019</td>
				<td class="nobr"><a href="/tournament/5186/">VERSUS: Коробейников vs. Матвеев</a>
					<br/>
					(Синхрон, 36 вопросов)
				</td>
				<td class="text-center">259</td>
				<td>18. <p>По одной из версий, название этого рода занятий происходит от слова, означающего «иносказание». Чьим заглавным героем стал человек этого рода занятий?</p></td>
				<td class="text-center">
						<a href="https://chgk-versus.livejournal.com/1659.html?thread=79227#t79227"><img src="/static/images/lj16.png" class="lj-link" title="Ссылка на обсуждение в ЖЖ"></a>
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">5</td>
				<td class="text-right nobr">9&nbsp;ноября 2013</td>
				<td class="nobr"><a href="/tournament/2643/">Гамбургский счёт. Осень</a>
					<br/>
					(Строго синхронный, 45 вопросов)
				</td>
				<td class="text-center">254</td>
				<td>22. <p>Персонаж рассказа Брэдбери &quot;Сверчок за печкой&quot; передает привет Джону. Напишите фамилию Джона.</p></td>
				<td class="text-center">
				</td>
			</tr>
		
	</tbody>
</table>

<br/><br/>
<h2>3. Самые массовые турниры с вопросом, который взяла одна команда</h2>
<table id="table-team-saved" class="display simple-data-table">
	<thead>
		<tr class="text-center debated">
			<th>№</th>
			<th class="text-right">Дата</th>
			<th class="text-left">Команда, спасшая вопрос</th>
			<th class="text-left">Состав</th>
			<th class="text-left">Турнир</th>
			<th>Число участников</th>
			<th>Текст вопроса</th>
			<th>Ссылка на обсуждение</th>
		</tr>
	</thead>
	<tbody>
		
			<tr>
				<td class="text-center">1</td>
				<td class="text-right nobr">3–6&nbsp;декабря 2016</td>
				<td class="text-left">
					<a href="/team/52023/">КЛТНН</a>
					<br/>
					(Томск)
				</td>
				<td class="nobr">
						
						<a href="https://rating.chgk.info/player/128603">Аишева Динара Армановна</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/92401">Базаров Баир Жаргалович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/55108">Берендяев Денис Александрович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/109699">Ершов Виктор Николаевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/97435">Ичигеева Джияна Очировна</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/125364">Панфилова Маргарита Сергеевна</a>
					
				</td>
				<td class="nobr"><a href="/tournament/3895/">Открытый кубок России</a>
					<br/>
					(Синхрон, 48 вопросов)
				</td>
				<td class="text-center">899</td>
				<td>14. <p>[Ведущему: боЭция; название трактата следует прочитать внятно, не проглатывая окончания]<br />Среди трудов Боэция есть трактат под названием «Как ОНИ могут быть ТАКИМИ, в силу того, что существуют, не будучи благами субстанциальными». Вячеслав Дерягин пишет, что китайское понятие «дэ» сначала означало добродетель, а затем стало означать некую ТАКУЮ ЕЁ. Какие слова мы заменили на «ТАКАЯ ОНА»?</p></td>
				<td class="text-center">
						<a href="https://ru-chgk.livejournal.com/2151186.html?thread=33580050#t33580050"><img src="/static/images/lj16.png" class="lj-link" title="Ссылка на обсуждение в ЖЖ"></a>
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">2</td>
				<td class="text-right nobr">3–7&nbsp;ноября 2016</td>
				<td class="text-left">
					<a href="/team/56399/">Славные парни</a>
					<br/>
					(Саранск)
				</td>
				<td class="nobr">
						
						<a href="https://rating.chgk.info/player/138485">Абдюшев Азат Наилевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/138486">Ликашков Денис Евгеньевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/138484">Макеев Андрей Викторович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/138489">Николаев Антон Юрьевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/138488">Скипетров Денис Петрович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/138487">Шайков Даниил Андреевич</a>
					
				</td>
				<td class="nobr"><a href="/tournament/3556/">РедБатл</a>
					<br/>
					(Синхрон, 48 вопросов)
				</td>
				<td class="text-center">542</td>
				<td>8. <p>[Ведущему: читать первое предложение размеренно, как под запись.]<br />Чтобы получать книги в местной библиотеке, будущий американский писатель Ричард Райт сочинил поддельное письмо от имени начальника Европейской библиотеки с просьбой выдать Ричарду книги. Одно из слов в предыдущем предложении мы изменили. Напишите его в первоначальном виде.</p></td>
				<td class="text-center">
						<a href="https://aka1985.livejournal.com/36195.html?thread=145251#t145251"><img src="/static/images/lj16.png" class="lj-link" title="Ссылка на обсуждение в ЖЖ"></a>
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">3</td>
				<td class="text-right nobr">24–25&nbsp;марта 2012</td>
				<td class="text-left">
					<a href="/team/41908/">Over 9000</a>
					<br/>
					(Нур-Султан (Астана))
				</td>
				<td class="nobr">
						
						<a href="https://rating.chgk.info/player/51774">Горский Антон Павлович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/59510">Рысбекова Дана Кайратовна</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/51773">Усипбаев Олжас Абдешович</a>
					
				</td>
				<td class="nobr"><a href="/tournament/2019/">Кубок 35</a>
					<br/>
					(Синхрон, 35 вопросов)
				</td>
				<td class="text-center">403</td>
				<td>20. <p>[Ведущему: ни в коем случае не сообщать о кавычках и пробеле в &quot;за мен&quot;.]<br />В вопросе нет &quot;за мен&quot;. В пародийном произведении Дмитрия Мурзина василиск собирается схватить иск. Назовите точно животное, фигурирующее в оригинале.</p></td>
				<td class="text-center">
						<a href="https://ru-chgk.livejournal.com/720231.html?thread=15575143#t15575143"><img src="/static/images/lj16.png" class="lj-link" title="Ссылка на обсуждение в ЖЖ"></a>
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">4</td>
				<td class="text-right nobr">19–23&nbsp;сентября 2014</td>
				<td class="text-left">
					<a href="/team/43505/">Anonymous</a>
					<br/>
					(Ереван)
				</td>
				<td class="nobr">
						
						<a href="https://rating.chgk.info/player/64613">Ааронян Арсен Юрьевич</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/42837">Гумроян Рачья Вадимович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/90427">Давтян Грачья </a>
					
						<br/>
						<a href="https://rating.chgk.info/player/61080">Казарян Рафаэль Гегамович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/87805">Мнацаканян Карен Усикович</a>
					
						<br/>
						<a href="https://rating.chgk.info/player/63639">Сейранян Мгер Арменович</a>
					
				</td>
				<td class="nobr"><a href="/tournament/2884/">Серия MASTERS. Синхрон Николенко</a>
					<br/>
					(Синхрон, 48 вопросов)
				</td>
				<td class="text-center">296</td>
				<td>17. <p>Джордж Фэн рассказывает, что ПЕРВЫЕ появились потому, что они должны были стоять на своём месте – было бы странно, если бы, например, рыцарь не поспешил на помощь соседу. А ВТОРЫЕ просто должны были быть медленными и многочисленными. Назовите ПЕРВЫХ и ВТОРЫХ.</p></td>
				<td class="text-center">
						<a href="https://nikolenko.livejournal.com/257854.html?thread=6605118#t6605118"><img src="/static/images/lj16.png" class="lj-link" title="Ссылка на обсуждение в ЖЖ"></a>
					
				</td>
			</tr>
		
	</tbody>
</table>

<br/><br/>
<h2>4. Рекорды команд. Учитываются только игры составами, преемственными к базовому</h2>

	<br/><br/>
	<h3>В этом сезоне (с 31&nbsp;августа 2019)</h3>
	<table id="table-team-records-0" class="display simple-data-table">
		<thead>
			<tr>
				<th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
			</tr>
			<tr class="text-center debated">
				<th>№</th>
				<th colspan="2">По числу игр</th>
				<th colspan="2">По числу сыгранных вопросов</th>
				<th colspan="2">По числу взятых вопросов</th>
				<th colspan="2">По проценту взятых вопросов</th>
				<th colspan="2">Среди сыгравших хотя бы 100 вопросов</th>
			</tr>
		</thead>
		<tbody>
			
				<tr>
					<td class="text-center">1</td>
					<td class="text-left">
						<a href="/team/54799/">Губы Дзюбы</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">78</td>
					<td class="text-left">
						<a href="/team/54799/">Губы Дзюбы</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">2992</td>
					<td class="text-left">
						<a href="/team/54799/">Губы Дзюбы</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">1763</td>
					<td class="text-left">
						<a href="/team/330/">Против ветра</a>
						<br/>
						(Дюссельдорф)
					</td>
					<td class="text-center">
						85.9 %
						<br/>
						(61 из 71)
					</td>
					<td class="text-left">
						<a href="/team/188/">Команда Губанова</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						80.7 %
						<br/>
						(184 из 228)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">2</td>
					<td class="text-left">
						<a href="/team/48762/">Кондуктор понимает</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">73</td>
					<td class="text-left">
						<a href="/team/48762/">Кондуктор понимает</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">2923</td>
					<td class="text-left">
						<a href="/team/48762/">Кондуктор понимает</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">1617</td>
					<td class="text-left">
						<a href="/team/62085/">Столик</a>
						<br/>
						(Киев)
					</td>
					<td class="text-center">
						82.4 %
						<br/>
						(28 из 34)
					</td>
					<td class="text-left">
						<a href="/team/57024/">Вжух</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						78.7 %
						<br/>
						(488 из 620)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">3</td>
					<td class="text-left">
						<a href="/team/65697/">Правый зелёный</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">69</td>
					<td class="text-left">
						<a href="/team/65697/">Правый зелёный</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">2638</td>
					<td class="text-left">
						<a href="/team/67543/">Холодно и мокро</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">1460</td>
					<td class="text-left">
						<a href="/team/76288/">Звезды Смерти</a>
						<br/>
						(Караганда)
					</td>
					<td class="text-center">
						82.2 %
						<br/>
						(37 из 45)
					</td>
					<td class="text-left">
						<a href="/team/28369/">Наобум</a>
						<br/>
						(Владимир)
					</td>
					<td class="text-center">
						76.5 %
						<br/>
						(247 из 323)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">4</td>
					<td class="text-left">
						<a href="/team/59419/">Кудрявчик и Вахривка</a>
						<br/>
						(Иркутск)
					</td>
					<td class="text-center">67</td>
					<td class="text-left">
						<a href="/team/58832/">Сон Кэтрин Мартелл</a>
						<br/>
						(Минск)
					</td>
					<td class="text-center">2553</td>
					<td class="text-left">
						<a href="/team/65697/">Правый зелёный</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">1451</td>
					<td class="text-left">
						<a href="/team/188/">Команда Губанова</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						80.7 %
						<br/>
						(184 из 228)
					</td>
					<td class="text-left">
						<a href="/team/45556/">Рабочее название</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						76.4 %
						<br/>
						(591 из 774)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">5</td>
					<td class="text-left">
						<a href="/team/58832/">Сон Кэтрин Мартелл</a>
						<br/>
						(Минск)
					</td>
					<td class="text-center">64</td>
					<td class="text-left">
						<a href="/team/59419/">Кудрявчик и Вахривка</a>
						<br/>
						(Иркутск)
					</td>
					<td class="text-center">2515</td>
					<td class="text-left">
						<a href="/team/4109/">Первая сборная</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">1370</td>
					<td class="text-left">
						<a href="/team/57024/">Вжух</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						78.7 %
						<br/>
						(488 из 620)
					</td>
					<td class="text-left">
						<a href="/team/641/">Братья</a>
						<br/>
						(Тель-Авив)
					</td>
					<td class="text-center">
						74.7 %
						<br/>
						(538 из 720)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">6</td>
					<td class="text-left">
						<a href="/team/67543/">Холодно и мокро</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">64</td>
					<td class="text-left">
						<a href="/team/67543/">Холодно и мокро</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">2401</td>
					<td class="text-left">
						<a href="/team/53714/">Постмодернистское название</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">1352</td>
					<td class="text-left">
						<a href="/team/75492/">Как отшить гопоту</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						77.8 %
						<br/>
						(28 из 36)
					</td>
					<td class="text-left">
						<a href="/team/45367/">Гвардия</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">
						74.6 %
						<br/>
						(337 из 452)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">7</td>
					<td class="text-left">
						<a href="/team/26712/">Impeachment-2</a>
						<br/>
						(Калининград)
					</td>
					<td class="text-center">56</td>
					<td class="text-left">
						<a href="/team/38164/">Фабрика мыслей</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">2161</td>
					<td class="text-left">
						<a href="/team/54613/">Зненацька</a>
						<br/>
						(Одесса)
					</td>
					<td class="text-center">1310</td>
					<td class="text-left">
						<a href="/team/40194/">Бешеная Газель</a>
						<br/>
						(Жлобин)
					</td>
					<td class="text-center">
						77.8 %
						<br/>
						(28 из 36)
					</td>
					<td class="text-left">
						<a href="/team/3951/">Eclipse</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						74.4 %
						<br/>
						(363 из 488)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">8</td>
					<td class="text-left">
						<a href="/team/53877/">Бешеная ладья</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">56</td>
					<td class="text-left">
						<a href="/team/4109/">Первая сборная</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">2143</td>
					<td class="text-left">
						<a href="/team/58832/">Сон Кэтрин Мартелл</a>
						<br/>
						(Минск)
					</td>
					<td class="text-center">1283</td>
					<td class="text-left">
						<a href="/team/28369/">Наобум</a>
						<br/>
						(Владимир)
					</td>
					<td class="text-center">
						76.5 %
						<br/>
						(247 из 323)
					</td>
					<td class="text-left">
						<a href="/team/53714/">Постмодернистское название</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						74.1 %
						<br/>
						(1352 из 1825)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">9</td>
					<td class="text-left">
						<a href="/team/54889/">Аннигиляция</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">56</td>
					<td class="text-left">
						<a href="/team/26712/">Impeachment-2</a>
						<br/>
						(Калининград)
					</td>
					<td class="text-center">2137</td>
					<td class="text-left">
						<a href="/team/59419/">Кудрявчик и Вахривка</a>
						<br/>
						(Иркутск)
					</td>
					<td class="text-center">1280</td>
					<td class="text-left">
						<a href="/team/45556/">Рабочее название</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						76.4 %
						<br/>
						(591 из 774)
					</td>
					<td class="text-left">
						<a href="/team/4622/">Спонсора.net</a>
						<br/>
						(Воронеж)
					</td>
					<td class="text-center">
						73.6 %
						<br/>
						(429 из 583)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">10</td>
					<td class="text-left">
						<a href="/team/54613/">Зненацька</a>
						<br/>
						(Одесса)
					</td>
					<td class="text-center">55</td>
					<td class="text-left">
						<a href="/team/54889/">Аннигиляция</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">2135</td>
					<td class="text-left">
						<a href="/team/53877/">Бешеная ладья</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">1271</td>
					<td class="text-left">
						<a href="/team/75667/">Аркуда</a>
						<br/>
						(Уссурийск)
					</td>
					<td class="text-center">
						75.6 %
						<br/>
						(34 из 45)
					</td>
					<td class="text-left">
						<a href="/team/74439/">Ars longa</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						73.3 %
						<br/>
						(349 из 476)
					</td>
				</tr>
			
		</tbody>
	</table>

	<br/><br/>
	<h3>За последние три года (с 4&nbsp;марта 2017)</h3>
	<table id="table-team-records-1" class="display simple-data-table">
		<thead>
			<tr>
				<th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
			</tr>
			<tr class="text-center debated">
				<th>№</th>
				<th colspan="2">По числу игр</th>
				<th colspan="2">По числу сыгранных вопросов</th>
				<th colspan="2">По числу взятых вопросов</th>
				<th colspan="2">По проценту взятых вопросов</th>
				<th colspan="2">Среди сыгравших хотя бы 200 вопросов</th>
			</tr>
		</thead>
		<tbody>
			
				<tr>
					<td class="text-center">1</td>
					<td class="text-left">
						<a href="/team/51654/">Чефирный эксперимент</a>
						<br/>
						(Одесса)
					</td>
					<td class="text-center">430</td>
					<td class="text-left">
						<a href="/team/51654/">Чефирный эксперимент</a>
						<br/>
						(Одесса)
					</td>
					<td class="text-center">16255</td>
					<td class="text-left">
						<a href="/team/53714/">Постмодернистское название</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">7721</td>
					<td class="text-left">
						<a href="/team/76288/">Звезды Смерти</a>
						<br/>
						(Караганда)
					</td>
					<td class="text-center">
						82.2 %
						<br/>
						(37 из 45)
					</td>
					<td class="text-left">
						<a href="/team/74439/">Ars longa</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						73.3 %
						<br/>
						(349 из 476)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">2</td>
					<td class="text-left">
						<a href="/team/54889/">Аннигиляция</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">407</td>
					<td class="text-left">
						<a href="/team/54889/">Аннигиляция</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">15629</td>
					<td class="text-left">
						<a href="/team/51654/">Чефирный эксперимент</a>
						<br/>
						(Одесса)
					</td>
					<td class="text-center">7533</td>
					<td class="text-left">
						<a href="/team/75492/">Как отшить гопоту</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						77.8 %
						<br/>
						(28 из 36)
					</td>
					<td class="text-left">
						<a href="/team/45556/">Рабочее название</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						73.1 %
						<br/>
						(3468 из 4743)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">3</td>
					<td class="text-left">
						<a href="/team/54799/">Губы Дзюбы</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">341</td>
					<td class="text-left">
						<a href="/team/38164/">Фабрика мыслей</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">13474</td>
					<td class="text-left">
						<a href="/team/54799/">Губы Дзюбы</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">7318</td>
					<td class="text-left">
						<a href="/team/50737/">Солянка</a>
						<br/>
						(Минск)
					</td>
					<td class="text-center">
						76.0 %
						<br/>
						(57 из 75)
					</td>
					<td class="text-left">
						<a href="/team/49340/">Соль</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">
						72.8 %
						<br/>
						(190 из 261)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">4</td>
					<td class="text-left">
						<a href="/team/38164/">Фабрика мыслей</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">328</td>
					<td class="text-left">
						<a href="/team/54799/">Губы Дзюбы</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">12910</td>
					<td class="text-left">
						<a href="/team/38164/">Фабрика мыслей</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">7212</td>
					<td class="text-left">
						<a href="/team/75667/">Аркуда</a>
						<br/>
						(Уссурийск)
					</td>
					<td class="text-center">
						75.6 %
						<br/>
						(34 из 45)
					</td>
					<td class="text-left">
						<a href="/team/57024/">Вжух</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						72.3 %
						<br/>
						(4843 из 6699)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">5</td>
					<td class="text-left">
						<a href="/team/54884/">Лама</a>
						<br/>
						(Одесса)
					</td>
					<td class="text-center">328</td>
					<td class="text-left">
						<a href="/team/48762/">Кондуктор понимает</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">12655</td>
					<td class="text-left">
						<a href="/team/7864/">Одушевлённые аэросани</a>
						<br/>
						(Минск)
					</td>
					<td class="text-center">6691</td>
					<td class="text-left">
						<a href="/team/73412/">Команда Виталия Липатникова</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						75.0 %
						<br/>
						(54 из 72)
					</td>
					<td class="text-left">
						<a href="/team/188/">Команда Губанова</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						71.4 %
						<br/>
						(1775 из 2485)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">6</td>
					<td class="text-left">
						<a href="/team/48762/">Кондуктор понимает</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">315</td>
					<td class="text-left">
						<a href="/team/54884/">Лама</a>
						<br/>
						(Одесса)
					</td>
					<td class="text-center">12446</td>
					<td class="text-left">
						<a href="/team/50186/">Подозрительные пассажиры</a>
						<br/>
						(Минск)
					</td>
					<td class="text-center">6277</td>
					<td class="text-left">
						<a href="/team/74439/">Ars longa</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						73.3 %
						<br/>
						(349 из 476)
					</td>
					<td class="text-left">
						<a href="/team/27177/">Призраки Коши</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						70.5 %
						<br/>
						(4609 из 6535)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">7</td>
					<td class="text-left">
						<a href="/team/26712/">Impeachment-2</a>
						<br/>
						(Калининград)
					</td>
					<td class="text-center">301</td>
					<td class="text-left">
						<a href="/team/53714/">Постмодернистское название</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">11875</td>
					<td class="text-left">
						<a href="/team/54613/">Зненацька</a>
						<br/>
						(Одесса)
					</td>
					<td class="text-center">6270</td>
					<td class="text-left">
						<a href="/team/45556/">Рабочее название</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						73.1 %
						<br/>
						(3468 из 4743)
					</td>
					<td class="text-left">
						<a href="/team/641/">Братья</a>
						<br/>
						(Тель-Авив)
					</td>
					<td class="text-center">
						69.2 %
						<br/>
						(3750 из 5422)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">8</td>
					<td class="text-left">
						<a href="/team/53714/">Постмодернистское название</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">300</td>
					<td class="text-left">
						<a href="/team/26712/">Impeachment-2</a>
						<br/>
						(Калининград)
					</td>
					<td class="text-center">11715</td>
					<td class="text-left">
						<a href="/team/54889/">Аннигиляция</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">6252</td>
					<td class="text-left">
						<a href="/team/49340/">Соль</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">
						72.8 %
						<br/>
						(190 из 261)
					</td>
					<td class="text-left">
						<a href="/team/42483/">Пахом Пихай</a>
						<br/>
						(Хельсинки)
					</td>
					<td class="text-center">
						68.9 %
						<br/>
						(1776 из 2577)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">9</td>
					<td class="text-left">
						<a href="/team/43001/">Солнечный круг</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">299</td>
					<td class="text-left">
						<a href="/team/50186/">Подозрительные пассажиры</a>
						<br/>
						(Минск)
					</td>
					<td class="text-center">11551</td>
					<td class="text-left">
						<a href="/team/5366/">23 красное</a>
						<br/>
						(Калининград)
					</td>
					<td class="text-center">6055</td>
					<td class="text-left">
						<a href="/team/57024/">Вжух</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						72.3 %
						<br/>
						(4843 из 6699)
					</td>
					<td class="text-left">
						<a href="/team/2/">Афина</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">
						68.8 %
						<br/>
						(2846 из 4137)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">10</td>
					<td class="text-left">
						<a href="/team/7931/">Лимонад</a>
						<br/>
						(Реутов)
					</td>
					<td class="text-center">280</td>
					<td class="text-left">
						<a href="/team/43001/">Солнечный круг</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">11427</td>
					<td class="text-left">
						<a href="/team/51739/">Зоопарк</a>
						<br/>
						(Минск)
					</td>
					<td class="text-center">6048</td>
					<td class="text-left">
						<a href="/team/6513/">Terra Incognita</a>
						<br/>
						(Уфа)
					</td>
					<td class="text-center">
						72.2 %
						<br/>
						(26 из 36)
					</td>
					<td class="text-left">
						<a href="/team/6874/">Церебрум</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">
						68.4 %
						<br/>
						(3321 из 4854)
					</td>
				</tr>
			
		</tbody>
	</table>

	<br/><br/>
	<h3>За всегда</h3>
	<table id="table-team-records-2" class="display simple-data-table">
		<thead>
			<tr>
				<th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
			</tr>
			<tr class="text-center debated">
				<th>№</th>
				<th colspan="2">По числу игр</th>
				<th colspan="2">По числу сыгранных вопросов</th>
				<th colspan="2">По числу взятых вопросов</th>
				<th colspan="2">По проценту взятых вопросов</th>
				<th colspan="2">Среди сыгравших хотя бы 300 вопросов</th>
			</tr>
		</thead>
		<tbody>
			
				<tr>
					<td class="text-center">1</td>
					<td class="text-left">
						<a href="/team/38164/">Фабрика мыслей</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">658</td>
					<td class="text-left">
						<a href="/team/38164/">Фабрика мыслей</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">26858</td>
					<td class="text-left">
						<a href="/team/7864/">Одушевлённые аэросани</a>
						<br/>
						(Минск)
					</td>
					<td class="text-center">14114</td>
					<td class="text-left">
						<a href="/team/76288/">Звезды Смерти</a>
						<br/>
						(Караганда)
					</td>
					<td class="text-center">
						82.2 %
						<br/>
						(37 из 45)
					</td>
					<td class="text-left">
						<a href="/team/49804/">Борский корабел</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">
						75.3 %
						<br/>
						(3080 из 4091)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">2</td>
					<td class="text-left">
						<a href="/team/44107/">Триумфальная лапка</a>
						<br/>
						(Брянск)
					</td>
					<td class="text-center">601</td>
					<td class="text-left">
						<a href="/team/44107/">Триумфальная лапка</a>
						<br/>
						(Брянск)
					</td>
					<td class="text-center">24470</td>
					<td class="text-left">
						<a href="/team/38164/">Фабрика мыслей</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">12956</td>
					<td class="text-left">
						<a href="/team/44062/">Сборная Самсона</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						80.6 %
						<br/>
						(29 из 36)
					</td>
					<td class="text-left">
						<a href="/team/45556/">Рабочее название</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						74.3 %
						<br/>
						(6950 из 9354)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">3</td>
					<td class="text-left">
						<a href="/team/5366/">23 красное</a>
						<br/>
						(Калининград)
					</td>
					<td class="text-center">584</td>
					<td class="text-left">
						<a href="/team/7864/">Одушевлённые аэросани</a>
						<br/>
						(Минск)
					</td>
					<td class="text-center">23805</td>
					<td class="text-left">
						<a href="/team/5366/">23 красное</a>
						<br/>
						(Калининград)
					</td>
					<td class="text-center">12859</td>
					<td class="text-left">
						<a href="/team/75492/">Как отшить гопоту</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						77.8 %
						<br/>
						(28 из 36)
					</td>
					<td class="text-left">
						<a href="/team/74439/">Ars longa</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						73.3 %
						<br/>
						(349 из 476)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">4</td>
					<td class="text-left">
						<a href="/team/673/">МГТУ</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">581</td>
					<td class="text-left">
						<a href="/team/5366/">23 красное</a>
						<br/>
						(Калининград)
					</td>
					<td class="text-center">23558</td>
					<td class="text-left">
						<a href="/team/2865/">Немчиновка</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">12333</td>
					<td class="text-left">
						<a href="/team/75667/">Аркуда</a>
						<br/>
						(Уссурийск)
					</td>
					<td class="text-center">
						75.6 %
						<br/>
						(34 из 45)
					</td>
					<td class="text-left">
						<a href="/team/26/">ЛКИ</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">
						72.9 %
						<br/>
						(4249 из 5831)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">5</td>
					<td class="text-left">
						<a href="/team/7864/">Одушевлённые аэросани</a>
						<br/>
						(Минск)
					</td>
					<td class="text-center">575</td>
					<td class="text-left">
						<a href="/team/39110/">Ветер удачи</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">22217</td>
					<td class="text-left">
						<a href="/team/4032/">X-promt</a>
						<br/>
						(Рига)
					</td>
					<td class="text-center">11926</td>
					<td class="text-left">
						<a href="/team/49804/">Борский корабел</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">
						75.3 %
						<br/>
						(3080 из 4091)
					</td>
					<td class="text-left">
						<a href="/team/57024/">Вжух</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						72.3 %
						<br/>
						(4843 из 6699)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">6</td>
					<td class="text-left">
						<a href="/team/575/">Летающий цирк</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">567</td>
					<td class="text-left">
						<a href="/team/7931/">Лимонад</a>
						<br/>
						(Реутов)
					</td>
					<td class="text-center">21887</td>
					<td class="text-left">
						<a href="/team/39110/">Ветер удачи</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">11490</td>
					<td class="text-left">
						<a href="/team/73412/">Команда Виталия Липатникова</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						75.0 %
						<br/>
						(54 из 72)
					</td>
					<td class="text-left">
						<a href="/team/670/">Ксеп</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">
						71.7 %
						<br/>
						(5968 из 8324)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">7</td>
					<td class="text-left">
						<a href="/team/7931/">Лимонад</a>
						<br/>
						(Реутов)
					</td>
					<td class="text-center">559</td>
					<td class="text-left">
						<a href="/team/575/">Летающий цирк</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">21804</td>
					<td class="text-left">
						<a href="/team/6936/">Хронически разумные United</a>
						<br/>
						(Минск)
					</td>
					<td class="text-center">11429</td>
					<td class="text-left">
						<a href="/team/53927/">Ван Дер Заходер</a>
						<br/>
						(Харьков)
					</td>
					<td class="text-center">
						75.0 %
						<br/>
						(27 из 36)
					</td>
					<td class="text-left">
						<a href="/team/188/">Команда Губанова</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						70.0 %
						<br/>
						(5891 из 8414)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">8</td>
					<td class="text-left">
						<a href="/team/2865/">Немчиновка</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">530</td>
					<td class="text-left">
						<a href="/team/42558/">Savage</a>
						<br/>
						(Кишинёв)
					</td>
					<td class="text-center">21728</td>
					<td class="text-left">
						<a href="/team/575/">Летающий цирк</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">10916</td>
					<td class="text-left">
						<a href="/team/53948/">ЫЫЫ</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">
						75.0 %
						<br/>
						(27 из 36)
					</td>
					<td class="text-left">
						<a href="/team/2/">Афина</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">
						68.5 %
						<br/>
						(7759 из 11326)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">9</td>
					<td class="text-left">
						<a href="/team/42558/">Savage</a>
						<br/>
						(Кишинёв)
					</td>
					<td class="text-center">529</td>
					<td class="text-left">
						<a href="/team/43002/">Опережая мысли</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">21602</td>
					<td class="text-left">
						<a href="/team/641/">Братья</a>
						<br/>
						(Тель-Авив)
					</td>
					<td class="text-center">10855</td>
					<td class="text-left">
						<a href="/team/45556/">Рабочее название</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						74.3 %
						<br/>
						(6950 из 9354)
					</td>
					<td class="text-left">
						<a href="/team/4201/">Salvatore</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						68.3 %
						<br/>
						(1672 из 2448)
					</td>
				</tr>
			
				<tr>
					<td class="text-center">10</td>
					<td class="text-left">
						<a href="/team/312/">Социал-демократы</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">522</td>
					<td class="text-left">
						<a href="/team/8424/">Виталия</a>
						<br/>
						(Калининград)
					</td>
					<td class="text-center">20638</td>
					<td class="text-left">
						<a href="/team/43002/">Опережая мысли</a>
						<br/>
						(Москва)
					</td>
					<td class="text-center">10771</td>
					<td class="text-left">
						<a href="/team/74439/">Ars longa</a>
						<br/>
						(Санкт-Петербург)
					</td>
					<td class="text-center">
						73.3 %
						<br/>
						(349 из 476)
					</td>
					<td class="text-left">
						<a href="/team/42483/">Пахом Пихай</a>
						<br/>
						(Хельсинки)
					</td>
					<td class="text-center">
						67.4 %
						<br/>
						(4114 из 6100)
					</td>
				</tr>
			
		</tbody>
	</table>


<br/><br/>
<h2>5. Самые крупные очные турниры</h2>
<table id="table-team-saved" class="display simple-data-table">
	<thead>
		<tr class="text-center debated">
			<th>№</th>
			<th class="text-right">Даты</th>
			<th class="text-left">Название</th>
			<th class="text-left">Город</th>
			<th class="text-center">Команд<br/>заявлено</th>
			<th class="text-center">Команд<br/>с результатами</th>
			<th class="text-center">Вопросов</th>
		</tr>
	</thead>
	<tbody>
		
			<tr>
				<td class="text-center">1</td>
				<td class="text-right nobr">28–29&nbsp;октября 2000</td>
				<td class="nobr"><a href="/tournament/1045/">Открытый кубок Мордовии</a>
				<td class="nobr"></td>
				<td class="text-center">103</td>
				<td class="text-center">0</td>
				<td class="text-center">48
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">2</td>
				<td class="text-right nobr">20&nbsp;октября 2019</td>
				<td class="nobr"><a href="/tournament/5795/">Кубок Москвы</a>
				<td class="nobr">Москва</td>
				<td class="text-center">98</td>
				<td class="text-center">98</td>
				<td class="text-center">60
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">3</td>
				<td class="text-right nobr">27–28&nbsp;октября 2018</td>
				<td class="nobr"><a href="/tournament/5212/">Енисейская знать</a>
				<td class="nobr">Красноярск</td>
				<td class="text-center">94</td>
				<td class="text-center">94</td>
				<td class="text-center">75
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">4</td>
				<td class="text-right nobr">30&nbsp;апреля&nbsp;– 1&nbsp;мая 2018</td>
				<td class="nobr"><a href="/tournament/4936/">Чемпионат России</a>
				<td class="nobr">Санкт-Петербург</td>
				<td class="text-center">93</td>
				<td class="text-center">93</td>
				<td class="text-center">90
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">5</td>
				<td class="text-right nobr">28–29&nbsp;октября 2017</td>
				<td class="nobr"><a href="/tournament/4574/">Енисейская знать</a>
				<td class="nobr">Красноярск</td>
				<td class="text-center">91</td>
				<td class="text-center">91</td>
				<td class="text-center">90
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">6</td>
				<td class="text-right nobr">21–22&nbsp;марта 2009</td>
				<td class="nobr"><a href="/tournament/484/">Весна в ЛЭТИ - Чемпионат России</a>
				<td class="nobr">Санкт-Петербург</td>
				<td class="text-center">91</td>
				<td class="text-center">91</td>
				<td class="text-center">90
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">7</td>
				<td class="text-right nobr">26–27&nbsp;октября 2019</td>
				<td class="nobr"><a href="/tournament/5993/">Енисейская знать</a>
				<td class="nobr">Красноярск</td>
				<td class="text-center">90</td>
				<td class="text-center">90</td>
				<td class="text-center">75
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">8</td>
				<td class="text-right nobr">19–20&nbsp;мая 2008</td>
				<td class="nobr"><a href="/tournament/343/">Чемпионат Минска</a>
				<td class="nobr">Минск</td>
				<td class="text-center">90</td>
				<td class="text-center">0</td>
				<td class="text-center">(неизвестно)
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">9</td>
				<td class="text-right nobr">11–12&nbsp;марта 2017</td>
				<td class="nobr"><a href="/tournament/4356/">Первенство Сибири</a>
				<td class="nobr">Новосибирск</td>
				<td class="text-center">89</td>
				<td class="text-center">89</td>
				<td class="text-center">90
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">10</td>
				<td class="text-right nobr">7–8&nbsp;мая 2017</td>
				<td class="nobr"><a href="/tournament/4247/">Чемпионат России</a>
				<td class="nobr">Санкт-Петербург</td>
				<td class="text-center">89</td>
				<td class="text-center">89</td>
				<td class="text-center">90
					
				</td>
			</tr>
		
	</tbody>
</table>

<br/><br/>
<h2>6. Самые крупные рейтинговые синхронные турниры (с <150 вопросами)</h2>
<table id="table-team-saved" class="display simple-data-table">
	<thead>
		<tr class="text-center debated">
			<th>№</th>
			<th class="text-right">Даты</th>
			<th class="text-left">Название</th>
			<th class="text-center">Команд<br/>заявлено</th>
			<th class="text-center">Команд<br/>с результатами</th>
			<th class="text-center">Вопросов</th>
		</tr>
	</thead>
	<tbody>
		
			<tr>
				<td class="text-center">1</td>
				<td class="text-right nobr">17–23&nbsp;октября 2019</td>
				<td class="nobr"><a href="/tournament/5751/">Балтийский Берег. 1 игра</a>
				<td class="text-center">1218</td>
				<td class="text-center">1218</td>
				<td class="text-center">36
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">2</td>
				<td class="text-right nobr">20–24&nbsp;октября 2017</td>
				<td class="nobr"><a href="/tournament/4331/">Балтийский Берег. 1 игра</a>
				<td class="text-center">1203</td>
				<td class="text-center">1203</td>
				<td class="text-center">36
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">3</td>
				<td class="text-right nobr">5–7&nbsp;апреля 2014</td>
				<td class="nobr"><a href="/tournament/2833/">Кубок городов</a>
				<td class="text-center">1191</td>
				<td class="text-center">1190</td>
				<td class="text-center">36
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">4</td>
				<td class="text-right nobr">4–7&nbsp;апреля 2015</td>
				<td class="nobr"><a href="/tournament/2961/">Кубок городов</a>
				<td class="text-center">1138</td>
				<td class="text-center">1138</td>
				<td class="text-center">36
					
						<br/>(2 снято)
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">5</td>
				<td class="text-right nobr">9–12&nbsp;декабря 2011</td>
				<td class="nobr"><a href="/tournament/1817/">Открытый кубок России</a>
				<td class="text-center">1136</td>
				<td class="text-center">1128</td>
				<td class="text-center">48
					
						<br/>(1 снято)
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">6</td>
				<td class="text-right nobr">17&nbsp;октября 2010</td>
				<td class="nobr"><a href="/tournament/1526/">Кубок провинций</a>
				<td class="text-center">1114</td>
				<td class="text-center">1113</td>
				<td class="text-center">42
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">7</td>
				<td class="text-right nobr">23–29&nbsp;января 2020</td>
				<td class="nobr"><a href="/tournament/5753/">Балтийский Берег. 3 игра</a>
				<td class="text-center">1110</td>
				<td class="text-center">1110</td>
				<td class="text-center">36
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">8</td>
				<td class="text-right nobr">19–23&nbsp;октября 2018</td>
				<td class="nobr"><a href="/tournament/4971/">Балтийский Берег. 1 игра</a>
				<td class="text-center">1110</td>
				<td class="text-center">1110</td>
				<td class="text-center">36
					
						<br/>(1 снято)
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">9</td>
				<td class="text-right nobr">1&nbsp;декабря 2002</td>
				<td class="nobr"><a href="/tournament/1337/">Открытый кубок России</a>
				<td class="text-center">1107</td>
				<td class="text-center">0</td>
				<td class="text-center">(неизвестно)
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">10</td>
				<td class="text-right nobr">12–14&nbsp;октября 2013</td>
				<td class="nobr"><a href="/tournament/2506/">Кубок провинций</a>
				<td class="text-center">1101</td>
				<td class="text-center">1101</td>
				<td class="text-center">42
					
				</td>
			</tr>
		
	</tbody>
</table>

<br/><br/>
<h2>7. Самые крупные площадки отыгрышей синхронных турниров</h2>
<table id="table-team-saved" class="display simple-data-table">
	<thead>
		<tr class="text-center debated">
			<th>№</th>
			<th class="text-right">Даты</th>
			<th class="text-left">Название</th>
			<th class="text-left">Площадка</th>
			<th class="text-left">Город</th>
			<th class="text-center">Команд</th>
			<th class="text-center">Вопросов</th>
		</tr>
	</thead>
	<tbody>
		
			<tr>
				<td class="text-center">1</td>
				<td class="text-right nobr">12&nbsp;марта 2017</td>
				<td class="nobr"><a href="/tournament/4243/">Онлайн Первенства Сибири</a>
				<td class="nobr"><a href="https://rating.chgk.info/venues.php?id=3071">Новосибирск</a></td>
				<td class="nobr">Новосибирск</td>
				<td class="text-center">89</td>
				<td class="text-center">45
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">2</td>
				<td class="text-right nobr">9&nbsp;ноября 2013</td>
				<td class="nobr"><a href="/tournament/2643/">Гамбургский счёт. Осень</a>
				<td class="nobr"><a href="https://rating.chgk.info/venues.php?id=3125">Калуга</a></td>
				<td class="nobr">Калуга</td>
				<td class="text-center">78</td>
				<td class="text-center">45
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">3</td>
				<td class="text-right nobr">13–15&nbsp;октября 2012</td>
				<td class="nobr"><a href="/tournament/2180/">Кубок провинций</a>
				<td class="nobr"><a href="https://rating.chgk.info/venues.php?id=3117">Москва</a></td>
				<td class="nobr">Москва</td>
				<td class="text-center">78</td>
				<td class="text-center">42
					
						<br/>(1 снято)
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">4</td>
				<td class="text-right nobr">24&nbsp;февраля 2019</td>
				<td class="nobr"><a href="/tournament/5394/">Онлайн Первенства Сибири</a>
				<td class="nobr"><a href="https://rating.chgk.info/venues.php?id=3071">Новосибирск</a></td>
				<td class="nobr">Новосибирск</td>
				<td class="text-center">77</td>
				<td class="text-center">45
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">5</td>
				<td class="text-right nobr">23&nbsp;февраля 2020</td>
				<td class="nobr"><a href="/tournament/6227/">Онлайн-турнир Первенства Сибири</a>
				<td class="nobr"><a href="https://rating.chgk.info/venues.php?id=3071">Новосибирск</a></td>
				<td class="nobr">Новосибирск</td>
				<td class="text-center">77</td>
				<td class="text-center">45
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">6</td>
				<td class="text-right nobr">25&nbsp;марта 2018</td>
				<td class="nobr"><a href="/tournament/4793/">Поволжская лига</a>
				<td class="nobr"><a href="https://rating.chgk.info/venues.php?id=3141">Казань</a></td>
				<td class="nobr">Казань</td>
				<td class="text-center">75</td>
				<td class="text-center">60
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">7</td>
				<td class="text-right nobr">17–20&nbsp;октября 2014</td>
				<td class="nobr"><a href="/tournament/2881/">Кубок провинций</a>
				<td class="nobr"><a href="https://rating.chgk.info/venues.php?id=3030">Санкт-Петербург</a></td>
				<td class="nobr">Санкт-Петербург</td>
				<td class="text-center">75</td>
				<td class="text-center">42
					
						<br/>(3 снято)
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">8</td>
				<td class="text-right nobr">25&nbsp;февраля 2018</td>
				<td class="nobr"><a href="/tournament/4730/">Онлайн-турнир Первенства Сибири</a>
				<td class="nobr"><a href="https://rating.chgk.info/venues.php?id=3071">Новосибирск</a></td>
				<td class="nobr">Новосибирск</td>
				<td class="text-center">74</td>
				<td class="text-center">45
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">9</td>
				<td class="text-right nobr">12–14&nbsp;октября 2013</td>
				<td class="nobr"><a href="/tournament/2506/">Кубок провинций</a>
				<td class="nobr"><a href="https://rating.chgk.info/venues.php?id=3117">Москва</a></td>
				<td class="nobr">Москва</td>
				<td class="text-center">72</td>
				<td class="text-center">42
					
				</td>
			</tr>
		
			<tr>
				<td class="text-center">10</td>
				<td class="text-right nobr">5–11&nbsp;декабря 2019</td>
				<td class="nobr"><a href="/tournament/5757/">Открытый Кубок России</a>
				<td class="nobr"><a href="https://rating.chgk.info/venues.php?id=3125">Калуга</a></td>
				<td class="nobr">Калуга</td>
				<td class="text-center">71</td>
				<td class="text-center">48
					
						<br/>(3 снято)
					
				</td>
			</tr>
		
	</tbody>
</table>

<p>TODO:</p>

<p>Игроки, взявшие больше всего вопросов</p>
<p>Игроки с наилучшим процентом взятия</p>
<p>Игроки, сыгравшие больше всего очных турниров; турниров; вопросов</p>
<p>Кто играл больше всего раз, но только когда играл и другой игрок</p>
<p>Какие два игрока играли больше всего раз, но только вместе</p>
<p>Какая команда играла больше всего раз, а игроков не больше шести</p>
<p>Какая команда никогда не играла без конкретного человека</p>
<p>Команды с максимумом игр, никогда не встречавшиеся [на очных турнирах]</p>

<p>Какие ещё есть идеи, и кто хочет помочь с этим всем — пишите!</p>