{% extends 'comparing/base.html' %}
{% block main %}

<h3>{{ page_title|safe }}</h3>
{{ errors }}
<form method="POST" action="" enctype="multipart/form-data">
	{{ formset.management_form }}
	{% csrf_token %}
	{% for form in formset %}
		{{ form.id }}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		<h4>Вопрос {{ form.number.value }}</h4>
		<table border="1" cellspacing="2" cellpadding="0">
			<tr>
				{% for field in form.visible_fields %}
					{% if forloop.counter == 2 or forloop.counter == 5 %}
						</tr><tr>
					{% endif %}
					<td class="text-right">
						<label for="{{ field.id_for_label }}">{{ field.label }}:</label>
					</td>
					<td style="vertical-align: bottom;">
						{{ field }}
						{% if field.errors %}
								{% for error in field.errors %}
										<h4><span class="label label-danger">{{ error|escape }}</span></h4>
								{% endfor %}
						{% endif %}
					</td>
				{% endfor %}
			</tr>
		</table>
	{% endfor %}
	<input type="submit" name="submitQuestions" value="Сохранить" class="btn-submit"/>
</form>
{% endblock %}